{% extends 'new_base.html' %}
{% load deferred_static %}
{% load static string_time_delta %}


{% block page_title %}
  {% include 'chunks/header/new_title.html' with page_header="Страница не найдена" %}
{% endblock %}



{% block main %}
<!-- ============================= Not Found Section start ============================ -->
<section class="not-found py-110">
    <div class="container">
        <div class="text-center">
            <div class="">
                <img src="{% ststic 'assets/images/shapes/error-img.png' %}" alt="Error Image">
            </div>
            <div class="tw-mt-6 max-w-576-px mx-auto">
                <h2 class="text-capitalize">“ Неудача! ”</h2>
                <p class="max-w-530-px mx-auto tw-mt-4">
                  Нет такой страницы.
                </p>
                <div class="tw-mt-6">
                  <a href="/"
                      class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder button-shape shape-bg-white tw-tracking-2-percent"
                      data-block="button">
                      <span class="button__flair"></span>
                      <span class="button__label">
                          Перейти на главную
                      </span>
                  </a>
                  <span class="text-main-two">или</span>

                  <a onclick="history.back()" href="#"
                     class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder button-shape shape-bg-white tw-tracking-2-percent"
                     data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label">
                      Вернуться на предыдущую
                    </span>
                  </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= Not Found Section end ============================ -->
{% endblock %}
