{% extends 'base.html' %}
{% load deferred_static %}
{% load static %}


{% block language_head_scripts %}
  <script>
    var Hyphenopoly = {
      require: {
        "ru": "FORCEHYPHENOPOLY",
      },
    };
  </script>
  <script src="/static/js/vendor/Hyphenopoly_Loader.js"></script>
{% endblock %}


{% block links %}
  {% deferred_style 'css/shop.css' 'color-switcher-link' %}
  {% deferred_style 'css/utils.css' %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
{% endblock %}


{% block header %}
  {% include 'chunks/header/title.html' %}
{% endblock %}



{% block main %}
  {% if founder %}
    {% include 'about/chunks/founder.html' %}
  {% endif %}

  <section class="ds s-pt-60 s-pt-md-5 s-pb-0 s-pb-md-15 s-pb-lg-150 choose-us-section c-gutter-10 overflow-visible" id="choose-us">
    <div class="container">
      {% include 'home/chunks/promotions.html' %}
      {% if why_us %}
        {% include 'about/chunks/why_us.html' %}
      {% endif %}
    </div>
  </section>

  {% if how_we_work %}
    {% include 'about/chunks/how_we_work.html' %}
  {% endif %}

  {% if our_services %}
    {% include 'about/chunks/our_services.html' %}
  {% endif %}

  {% include 'home/chunks/testimonials.html' %}

  {% include 'home/chunks/team.html' %}

  {% include 'home/chunks/our-branches.html' %}
{% endblock %}

{% block body_scripts %}
  <div id="mapScript" data-url="{{ map_link }}"></div>
{% endblock %}
