{% extends 'base.html' %}
{% load deferred_static %}
{% load template_name static string_time_delta %}


{% block links %}
  {% deferred_style 'css/shop.css' 'color-switcher-link' %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
{% endblock %}


{% block header %}
  {% include 'chunks/header/title.html' %}
{% endblock %}



{% block main %}
  <section class="ls s-pt-60 s-pb-0 s-pt-lg-100 s-pb-lg-40 s-pt-xl-150 s-pb-xl-90">
    <div class="container">

      <div class="row c-mb-30">
        <main class="offset-lg-1 col-lg-10">
          <div class="row isotope-wrapper masonry-layout">

            {% for item in items %}
              {% template_name item as template_name %}

              {% include template_name %}

            {% endfor %}

          </div>

          {% include 'tags/chunks/pagination.html' %}

        </main>
      </div>
    </div>
  </section>
{% endblock %}
