{% extends 'base.html' %}

{% load static cropping %}

{% block head_scripts %}
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=e470ae02-a4b8-471a-bde6-d4a12def6e51" type="text/javascript"></script>
{% endblock %}

{% block modals %}
  {% include 'modals/search.html' %}
{% endblock %}

{% block main %}
  <section class="page_slider ds">
    <div class="ds social-flex d-none d-lg-block">
      <p class="social-icons with-border">
        <span><a href="{{ facebook }}" class="fa fa-facebook border-icon rounded-icon" title="facebook"></a></span>
        <span><a href="{{ telegram }}" class="fa fa-paper-plane border-icon rounded-icon" title="telegram"></a></span>
        <span><a href="{{ instagram }}" class="fa fa-instagram border-icon rounded-icon" title="instagram"></a></span>
      </p>
    </div>
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="intro_layers_wrapper text-center text-xl-left">
                      <div class="intro_layers">
                          <div class="divider-20 d-none d-lg-block d-xl-none"></div>
                          <div class="intro_layer" data-animation="fadeInDown">
                              <h2 class="text-uppercase intro_featured_word">
                                  <span class="color-main">Ремонт</span>
                                  <span class="flex-gradient"><span id="typed-strings"><span>автомобилей</span><span>микроавтобусов</span><span>минивэнов</span></span><span
                                          id="typed"></span></span>
                              </h2>
                          </div>
                          <div class="intro_layer" data-animation="fadeInDown">
                              <h2 class="text-uppercase intro_featured_word">
                                  выберите марку и модель
                              </h2>
                          </div>
                          <div class="intro_layer start-form-main" data-animation="fadeInDown">
                              <div id="start" class="start d-flex row">

                                  <form method="POST" id="startform" class="start-form form-inline" data-ajax-url="{% url 'cars:ajax-filter' %}">
                    {% include 'chunks/select-car-form.html' %}
                  </form>

                </div>
              </div>
            </div> <!-- eof .intro_layers -->
          </div> <!-- eof .intro_layers_wrapper -->
        </div> <!-- eof .col-* -->
      </div><!-- eof .row -->
    </div><!-- eof .container-fluid -->
    <div class="flexslider" data-nav="false" data-dots="true">
      <ul class="slides">
        <li class="ds bs cover-image flex-slide">
          <span class="flexslider-overlay"></span>
          <img src="{% static 'images/slide01.jpg' %}" alt="">
        </li>
        <li class="ds bs cover-image flex-slide">
          <span class="flexslider-overlay"></span>
          <img src="{% static 'images/slide02.jpg' %}" alt="">
        </li>
        <li class="ds bs cover-image flex-slide">
          <span class="flexslider-overlay"></span>
          <img src="{% static 'images/slide03.jpg' %}" alt="">
        </li>
      </ul>
    </div> <!-- eof flexslider -->
  </section>

  <section class="ds s-pt-60 s-pt-md-5 s-pb-0 s-pb-md-15 s-pb-lg-150 choose-us-section c-gutter-10 overflow-visible" id="choose-us">
    <div class="container">
      {% include 'home/chunks/promotions.html' %}
      {% include 'home/chunks/why-us.html' %}
    </div>
  </section>


  {% include 'home/chunks/services.html' %}

  {% include 'home/chunks/vendors.html' %}

  <section class="ds s-pt-55 s-pb-10 s-pt-lg-140 s-pb-lg-150 s-parallax testimonials-section" id="section_testimonials">
    <div id="particles-js"></div> <!-- Animated background -->
    <div class="container">
      <div class=" col-12 mb-50 text-center">
        <h4><span class="text-gradient">Отзывы</span> клиентов</h4>
        <p class="fs-20 color-dark">Честно и открыто</p>
        <div class="divider-60 d-none d-xl-block"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="testimonials-slider owl-carousel" data-autoplay="false" data-loop="true" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1"
               data-nav="true" data-dots="false">
            <div class="quote-item">
              <div class="quote-image">
                <img src="{% static 'images/team/testimonials_01.jpg' %}" alt="">
              </div>
              <div class="quote-mark">
                <img src="{% static 'images/quote.png' %}" alt="">
              </div>
              <p>
                <em class="big fw-400">
                  Meatloaf laborum velit kielbasa. Drumstick sirloin lorem chicken swine biltong in short ribs duis bresaola. Veniam meatloaf cow incididunt in bacon kevin in
                  pork belly ball tip duis ipsum. Ribeye et aliquip strip steak dolore in anim.
                </em>
              </p>
              <h6 class="quote-name fw-700">
                Brett Connor
              </h6>
              <p class="color-grey">
                <a href="">Vkontakte</a>
              </p>
            </div>
            <div class="quote-item">
              <div class="quote-image">
                <img src="{% static 'images/team/testimonials_01.jpg' %}" alt="">
              </div>
              <div class="quote-mark">
                <img src="{% static 'images/quote.png' %}" alt="">
              </div>
              <p>
                <em class="big fw-400">
                  Meatloaf laborum velit kielbasa. Drumstick sirloin lorem chicken swine biltong in short ribs duis bresaola. Veniam meatloaf cow incididunt in bacon kevin in
                  pork belly ball tip duis ipsum. Ribeye et aliquip strip steak dolore in anim.
                </em>
              </p>
              <h6 class="quote-name fw-700">
                Brett Connor
              </h6>
              <p class="color-grey">
                AutoDoc Manager
              </p>
            </div>
            <div class="quote-item">
              <div class="quote-image">
                <img src="{% static 'images/team/testimonials_01.jpg' %}" alt="">
              </div>
              <div class="quote-mark">
                <img src="{% static 'images/quote.png' %}" alt="">
              </div>
              <p>
                <em class="big fw-400">
                  Meatloaf laborum velit kielbasa. Drumstick sirloin lorem chicken swine biltong in short ribs duis bresaola. Veniam meatloaf cow incididunt in bacon kevin in
                  pork belly ball tip duis ipsum. Ribeye et aliquip strip steak dolore in anim.
                </em>
              </p>
              <h6 class="quote-name fw-700">
                Brett Connor
              </h6>
              <p class="color-grey">
                AutoDoc Manager
              </p>
            </div>
          </div><!-- .testimonials-slider -->
        </div>
      </div>
    </div>
  </section>

  {% include 'home/chunks/team.html' %}

  {% include 'home/chunks/our-branches.html' %}
{% endblock %}

{% block body_scripts %}
  <script src="{% static 'js/custom/ajax-filter.js' %}"></script>
{% endblock %}
