{% load menu_utils %}
<nav class="woocommerce-MyAccount-navigation hero-bg p-60">
    <ul>
        <li class="{% is_active 'accounts:pa:index' class_='is-active' %}">
            <a href="{% url 'accounts:pa:index' %}">Главная</a>
        </li>
        <li class="{% is_active 'accounts:pa:appointment:list' class_='is-active' %}">
            <a href="{% url 'accounts:pa:appointment:list' %}">Записи на сервис</a>
        </li>
        <li class="{% is_active 'accounts:pa:garage' class_='is-active' %}">
            <a href="{% url 'accounts:pa:garage' %}">Мой гараж</a>
        </li>
        <li class="{% is_active 'accounts:pa:edit' class_='is-active' %}">
            <a href="{% url 'accounts:pa:edit' %}">Личные данные</a>
        </li>
        <li>
            <a href="{% url 'accounts:logout' %}">Выйти</a>
        </li>
    </ul>
</nav>
