{% extends 'base.html' %}
{% load field_tags errors %}

{% block header %}
  {% include 'chunks/header/title.html' %}
{% endblock %}

{% block main %}
  <section class="ls s-pt-60 s-pb-50 s-pt-lg-100 s-pb-lg-90 s-pt-xl-150 s-pb-xl-140">
    <div class="container">
      <div class="row">
        <main class="col-lg-12">
          <article>
            <!-- .entry-header -->
            <div class="entry-content">
              <div class="woocommerce">

                <h4 class="text-success text-center">Ссылка на сброс пароля была отправлена на указанную почту ✔</h4>
                <h6 class="mt-0 text-center">Иногда сообщения попадают в папку "спам"</h6>

                <p class="woocommerce-LostPassword lost_password text-center">
                  <a href="{% url 'home:index' %}">Главная</a>
                  <a class="ml-5" href="{% url 'accounts:login' %}">Вход</a>
                </p>
              </div>
            </div>
            <!-- .entry-content -->
          </article>


        </main>
      </div>

    </div>
    <div class="divider-3"></div>
  </section>
{% endblock %}
