{% load static %}
<div class="col-xl-4 col-md-6">
  <article class="cover-image ds bs s-overlay post type-post status-publish format-quote has-post-thumbnail" style="background-image: url(&quot;images/blog/08.jpg&quot;);">
    {% if tag %}
      {% include 'chunks/corner-tag.html' %}
    {% elif item.tags.count %}
      {% include 'chunks/corner-tag.html' with tag=item.tags.first %}
    {% endif %}

    <a href="{% url 'knowledge_base:answered-question' item.url %}"></a>
    <div class="post-thumbnail">
      <a href="{% url 'knowledge_base:answered-question' item.url %}" data-gal="">
        <img src="{% static 'images/blog/08.jpg' %}" alt="">
      </a>
    </div><!-- .post-thumbnail -->
    <div>
      <div class="testimonials-slider" data-autoplay="true" data-loop="true" data-responsive-lg="1" data-responsive-md="1"
           data-responsive-sm="1" data-nav="false" data-dots="false">


        <div>
          <div>
            <div class="cloned">
              <div class="quote-item" data-index="1">

                <div class="quote-mark">
                  <img src="{% static 'images/quote.png' %}" alt="">
                </div>
                <p>
                  <em class="big fw-400">{{ item.answer|striptags|truncatechars:"80" }}</em>
                </p>

                <h4 class="entry-title">
                  <a href="{% url 'knowledge_base:answered-question' item.url %}" rel="bookmark">{{ item.question|striptags|truncatechars:"80" }}</a>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div><!-- .testimonials-slider -->
    </div>
  </article><!-- #post-## -->
</div>
