{% load cropping %}
{% load static %}
<div class="col-xl-4 col-md-6">
  <article class="cover-image ds bs s-overlay post type-post status-publish format-quote has-post-thumbnail">
    <div class="post-thumbnail">
      <a>
        <img src="{% static 'images/blog/08.jpg' %}" alt="">
      </a>
    </div><!-- .post-thumbnail -->
    <div>
      <div class="testimonials-slider owl-carousel" data-autoplay="true" data-loop="true" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-nav="false"
           data-dots="false">

        {% for master in item %}
          <div class="quote-item">
            <div class="quote-image">
              <img src="{% cropped_thumbnail master 'thumbnail' %}" alt="{{ master.name }}">
            </div>
            <div class="quote-mark">
              <img src="{% static 'images/quote.png' %}" alt="quote">
            </div>
            <p><em class="big fw-400">
              {{ master.credo }}
            </em></p>
            <p class="social-icons with-border">
              <span><a href="{{ facebook }}" class="fa fa-facebook border-icon rounded-icon" title="facebook"></a></span>
              <span><a href="{{ telegram }}" class="fa fa-paper-plane border-icon rounded-icon" title="telegram"></a></span>
              <span><a href="{{ instagram }}" class="fa fa-instagram border-icon rounded-icon" title="instagram"></a></span>
            </p>
            <h6 class="quote-name fw-700">
              {{ master.name }}
            </h6>
          </div>
        {% endfor %}

      </div><!-- .testimonials-slider -->
    </div>
  </article><!-- #post-## -->
</div>
