{% load static %}
<div class="col-xl-4 col-md-6">
  <article class="cover-image ds bs s-overlay post type-post status-publish has-post-thumbnail" style="background-image: url(&quot;images/blog/06.jpg&quot;);">
    {% if tag %}
      {% include 'chunks/corner-tag.html' %}
    {% elif item.tags.count %}
      {% include 'chunks/corner-tag.html' with tag=item.tags.first %}
    {% endif %}

    <a href="{% url 'knowledge_base:symptom' item.url %}"></a>
    <div class="post-thumbnail">
      <a href="{% url 'knowledge_base:symptom' item.url %}" data-gal="">
        <img src="{% static 'images/blog/06.jpg' %}" alt="">
      </a>
    </div><!-- .post-thumbnail -->
    <header class="entry-header">
      <div class="entry-meta">
        <h6 class="author vcard fw-700">
          <span class="screen-reader-text">Author </span>
          <span class="url fn n" href="blog-full.html">Симптомы</span>
        </h6>
      </div>
      <h4 class="entry-title">
        <a href="{% url 'knowledge_base:symptom' item.url %}" rel="bookmark">
          {{ item.title }}
        </a>
      </h4>
      <!-- .entry-meta -->
    </header>
    <!-- .entry-header -->

    <div class="entry-content">
      <p>{{ item.answer|striptags|truncatechars:"80" }}</p>

    </div>
    <div class="more-button mt-4" style="margin: 0 -20px">
      <a href="#" class="btn btn-small btn-outline-maincolor">Читать далее</a>
    </div><!-- .entry-content -->
  </article><!-- #post-## -->
</div>
