{% load static %}
<!-- ======================= Choose Us section start ========================= -->
<section class="choose-us-one py-110 position-relative z-1 overflow-hidde">
    <div class="position-absolute top-0 tw-start-0 item-visible-in-big-screen">
        <img src="{% static 'assets/images/shapes/wheel-spot-shape-two.png' %}" alt="Wheel Shape Two Img">
    </div>
    <div class="position-absolute top-50 tw-end-0 translate-middle-y">
        <img src="{% static 'assets/images/shapes/automobile-img.png' %}" alt="Wheel Shape Two Img" class="item-goes-bottom-on-scroll">
    </div>

    <div class="container">
        <div class="row gy-5">
            <div class="col-xl-8">
                <div class="pe-xl-3">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="max-w-576-px">
                            <div class="section-heading">
                                <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up"
                                    data-aos-duration="800" data-aos-delay="100">
                                    <span class="tw-w-10 tw-h-05 bg-main triangle-left"></span>
                                    <span class="text-main fw-semibold tw-text-lg text-uppercase">Почему выбирают нас?</span>
                                </div>
                                <h2 class="splitTextStyleOne">Гарантируем качество и профессионализм</h2>
                                <p class="tw-mt-6 max-w-576-px" data-aos="fade-up"
                                    data-aos-duration="800" data-aos-delay="200">Техническое обслуживание и ремонт в "Авто Премиум" осуществляется в соответствии с предписаниями производителей и по стандартам официальных дилеров.</p>
                            </div>
                        </div>
                        <div class="item-rotate-on-scroll d-sm-block d-none">
                            <div data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="600">
                                <img src="{% static 'assets/images/thumbs/wheel-small-image.png' %}" alt="Wheel Image"
                                    class="animation-rotate-right">
                            </div>
                        </div>
                    </div>
                </div>


				<div class="row" style="margin-top: 104px;">
					<div class="col-xl-6">
						<div class="d-flex flex-column tw-gap-5">
						<div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <a href="/shinnyi-centr/"><div class="choose-us-item bg-main-two tw-rounded-xl d-flex tw-gap-7 group group-item tw-duration-300 hover-bg-main overflow-hidden">
                            <div class="choose-us-item__icon d-flex align-items-center justify-content-center flex-shrink-0 bg-main tw-duration-300 group-hover-bg-main-two position-relative">
                                <img src="/static/assets/images/icons/shiny.png" alt="Шинный центр">
                            </div>
                            <div class="tw-py-8 tw-pe-6">
                                <h2 class="h5 text-white tw-mb-4">Шинный центр</h2>
                                <p class="text-neutral-200">Сезонное хранение, шиномонтаж, развал-схождение</p>
                            </div>
                        </div></a>
						</div></div>
                    </div>
					<div class="col-xl-6">
						<div class="d-flex flex-column tw-gap-5">
						<div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <a href="/detailing/"><div class="choose-us-item bg-main-two tw-rounded-xl d-flex tw-gap-7 group group-item tw-duration-300 hover-bg-main overflow-hidden">
                            <div class="choose-us-item__icon d-flex align-items-center justify-content-center flex-shrink-0 bg-main tw-duration-300 group-hover-bg-main-two position-relative">
                                <img src="/static/assets/images/icons/detailing.png" alt="Детейлинг">
                            </div>
                            <div class="tw-py-8 tw-pe-6">
                                <h2 class="h5 text-white tw-mb-4">Детейлинг</h2>
                                <p class="text-neutral-200">Комплексная мойка, химчистка, полировка, защита кузова</p>
                            </div>
                        </div></a>
						</div></div>
                    </div>
				</div>


            </div>

            <div class="col-xl-4">
                <div class="d-flex flex-column tw-gap-5">
                    <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <a href="/remont/"><div class="choose-us-item bg-main-two tw-rounded-xl d-flex tw-gap-7 group group-item tw-duration-300 hover-bg-main overflow-hidden">
                            <div
                                class="choose-us-item__icon d-flex align-items-center justify-content-center flex-shrink-0 bg-main tw-duration-300 group-hover-bg-main-two position-relative">
                                <img src="{% static 'assets/images/icons/remont-avto.png' %}" alt="Ремонт авто">
                            </div>
                            <div class="tw-py-8 tw-pe-6">
                                <h2 class="h5 text-white tw-mb-4">Ремонт автомобилей</h2>
                                <p class="text-neutral-200">Беремся за любые марки, модели и поколения</p>
                            </div>
                        </div></a>
                    </div>
                    <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <a href="/to/"><div class="choose-us-item bg-main-two tw-rounded-xl d-flex tw-gap-7 group group-item tw-duration-300 hover-bg-main overflow-hidden">
                            <div
                                class="choose-us-item__icon d-flex align-items-center justify-content-center flex-shrink-0 bg-main tw-duration-300 group-hover-bg-main-two position-relative">
                                <img src="{% static 'assets/images/icons/to-avto.png' %}" alt="Техническое обслуживание">
                            </div>
                            <div class="tw-py-8 tw-pe-6">
                                <h2 class="h5 text-white tw-mb-4">Техобслуживание</h2>
                                <p class="text-neutral-200">От простой замены масла, до регулярного ТО</p>
                            </div>
                        </div></a>
                    </div>
                    <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <a href="/diagnostika/"><div class="choose-us-item bg-main-two tw-rounded-xl d-flex tw-gap-7 group group-item tw-duration-300 hover-bg-main overflow-hidden">
                            <div
                                class="choose-us-item__icon d-flex align-items-center justify-content-center flex-shrink-0 bg-main tw-duration-300 group-hover-bg-main-two position-relative">
                                <img src="{% static 'assets/images/icons/diagnostika-avto.png' %}" alt="Диагностика">
                            </div>
                            <div class="tw-py-8 tw-pe-6">
                                <h2 class="h5 text-white tw-mb-4">Диагностика</h2>
                                <p class="text-neutral-200">Точно и безошибочно найдем причину поломки</p>
                            </div>
                        </div></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= Choose Us section end ========================= -->
