{% load pretty_numbers %}
<div class="row plan-content c-mt-0 c-mt-lg-10 c-mt-xl-0">
  {% for item in promotions %}
    <div class="col-xl-3 col-md-6">
      <div class="pricing-plan plan1 cs">


        <div class="plan-name">
          <h5 class="text-uppercase">
            {{ item.title }}
          </h5>
        </div>

        {% if not item.fixed_price %}
          <div class="plan-description"><h6 class="fw-300 text-uppercase">От</h6></div>{% endif %}
        <div class="price-wrap color-main2">
          <span class="plan-price">{{ item.price| pretty_price }}</span><span class="plan-sign">₽</span>
        </div>

        <div class="plan-features">
          {{ item.short_description| safe }}
        </div>

        <div><a href="{% url 'promotions:promotion' item.url %}" class="btn btn-small btn-outline-maincolor">Подробнее</a></div>


      </div>
    </div>
  {% endfor %}
  <div class="divider-145 d-none d-lg-block"></div>
</div>
