{% load iterables %}
<div class="row plan-content choose-slider c-mt-0 c-mt-lg-10 c-mt-xl-0">
  <ul class="slides row">

    {% for item in promotions|merge:product_promotions %}
      <li class="col-xl-3 col-md-6">
        <div class="pricing-plan plan{{ forloop.counter }} cs">


          <div class="plan-name">
            <h5 class="text-uppercase hyphenate">
              {{ item.title }}
            </h5>
          </div>

          {% if item.price is not None %}
            <div class="plan-description">
              <h6 class="fw-300 text-uppercase">{% if item.sale %}скидка{% endif %}
                {% if not item.fixed_price %}{{ item.sale|yesno:"До,От" }}{% endif %}</h6>
            </div>
            <span class="plan-price">{{ item.price|floatformat:"-2g" }}</span>
            <span class="plan-sign">{{ item.get_currency }}</span>
          {% endif %}

          <div class="plan-features">
            {{ item.homepage_description| safe }}
          </div>

          <div><a href="{{ item.reverse_url }}" class="btn btn-small btn-outline-maincolor">Подробнее</a></div>


        </div>
      </li>
    {% endfor %}

  </ul>
</div>

<div class="divider-145 d-none d-lg-block"></div>
