{% load static %}
<section class="page_slider ds">
  <div class="ds social-flex d-none d-lg-block">
    <p class="social-icons with-border">
      <span><a href="{{ vk }}" class="fa fa-vk border-icon rounded-icon" title="Вконтакте" target="_blank"></a></span>
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </div> <!-- eof .col-* -->
    </div><!-- eof .row -->
  </div><!-- eof .container-fluid -->

  <div class="flexslider" data-nav="false" data-dots="true">
    <ul class="slides">
      {% for obj in main_slides %}
        <li class="ds bs cover-image flex-slide" data-slider-bg="{{ obj.background_image.url }}">
          <span class="flexslider-overlay"></span>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="intro_layers_wrapper text-center text-xl-left">
                  <div class="intro_layers">
                    <div class="divider-20 d-none d-lg-block d-xl-none"></div>
                    <div class="intro_layer" data-animation="fadeInDown">
                      <h2 class="text-uppercase intro_featured_word">
                        <span class="color-main">{{ obj.static_text }}</span><br>
                        <span class="flex-gradient"><span
                          id="typed-strings{{ forloop.counter0 }}"><span>{{ obj.animated_text }}</span></span><span
                          id="typed"
                          class="typed"></span></span>
                      </h2>
                      <br>
                      {% if obj.button_text and obj.link %}
                        <a href="{{ obj.link }}" class="btn btn-big btn-outline-maincolor2">
                          {{ obj.button_text }}</a>
                      {% endif %}
                    </div>
                  </div> <!-- eof .intro_layers -->
                </div> <!-- eof .intro_layers_wrapper -->
              </div>
            </div>
          </div>
        </li>
      {% endfor %}

    </ul>
  </div> <!-- eof flexslider -->
</section>
