{% load cropping %}
<section class="ls s-pt-55 s-pb-30 s-pt-lg-145 s-pb-lg-120" id="team">
  <div class="container">
    <div class="col-12 mb-50">
      <h3 class="special-heading text-center">Наша<span class="text-gradient">команда</span></h3>
      <p class="fs-20 color-dark">Только сертифицированные мастера</p>
      <div class="divider-60 d-none d-lg-block"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="owl-carousel" data-autoplay="false" data-loop="true" data-responsive-lg="3" data-responsive-md="2" data-responsive-sm="2" data-nav="false"
             data-dots="false" data-margin="60">
          {% for master in masters %}
            <div class="vertical-item content-padding text-center overflow-hidden">
              <div class="item-media">
                <img src="{% cropped_thumbnail master 'thumbnail' %}" alt="{{ master.name }}">
              </div>
              <div class="item-content">
                <h6 class="team-name fw-700">{{ master.name }}</h6>
                <p>
                  {{ master.position }}
                </p>
              </div>
            </div>
          {% endfor %}
        </div><!-- .team-carousel -->
      </div>
      <div class="divider-2"></div>
    </div>
  </div>
</section>
