{% extends 'new_base.html' %}
{% load deferred_static %}
{% load static field_tags errors %}

{% block page_title %}
  {% include 'chunks/header/new_title.html' %}
{% endblock %}

{% block main %}

<!-- =========================== Login start ====================================== -->
<section class="service-details py-110">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-12">
                <div class="pe-xl-4 d-flex align-items-center justify-content-center">
                    <div class="tw-mt-11 col-lg-6">

                      <form class="woocommerce-EditAccountForm edit-account text-center" method="POST">

                        {% csrf_token %}
                        {% hidden_next_field %}

                        {% non_field_errors form %}

                        {% for message in messages %}<p class="{{ message.extra_tags }} text-center">{{ message| safe }}</p>{% endfor %}

                        {% for field in form %}
                          <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label for="{{ field.auto_id }}">{{ field.label }} {% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                            {{ field }}
                            {% field_errors field %}
                          </p>
                        {% endfor %}
                        <p>
                          <button type="submit"
                                  class="btn btn-main hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder button-shape shape-bg-black tw-tracking-2-percent"
                                  data-block="button"
                                  name="save_account_details">
                            <span class="button__flair"></span>
                            <span class="button__label">
                              Отправить
                            </span>
                          </button>
                        </p>

                        <p class="woocommerce-LostPassword lost_password text-center">
                          <a href="{% url 'accounts:register' %}" class="tw-p-3 text-main-two hover-text-main hiver-text-underline">Нет аккаунта?</a>
                          <a href="{% url 'accounts:password:reset' %}" class="tw-p-3 text-main-two hover-text-main hiver-text-underline">Забыли пароль?</a>
                        </p>

                      </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Login end ====================================== -->

{% endblock %}
