{% extends 'base.html' %}
{% load static field_tags errors %}


{% block links %}
    <link rel="stylesheet" href="{% static 'css/shop.css' %}" class="color-switcher-link">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
{% endblock %}


{% block header %}
    {% include 'chunks/header/title.html' %}
{% endblock %}



{% block main %}
    <section class="ls s-pt-60 s-pb-50 s-pt-lg-100 s-pb-lg-90 s-pt-xl-150 s-pb-xl-140">
    <div class="container">
      <div class="row">
        <main class="col-lg-12">
          <article>
            <!-- .entry-header -->
            <div class="entry-content">
              <div class="woocommerce">

                <form class="woocomerce-form woocommerce-form-login login" method="post">
                  {% csrf_token %}
                  {% hidden_next_field %}

                  {% non_field_errors form %}

                  {% for field in form %}
                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                      <label for="{{ field.auto_id }}">{{ field.label }} {% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                      {{ field }}
                      {% field_errors field %}
                    </p>
                  {% endfor %}

                  <div class="divider-20"></div>
                  <p class="form-row text-center">
                    <button type="submit" class="woocommerce-Button btn btn-maincolor">Отправить</button>
                  </p>
                  <p class="woocommerce-LostPassword lost_password text-center">
                    <a href="{% url 'accounts:login' %}">Уже есть аккаунт?</a>
                  </p>

                </form>
              </div>
            </div>
            <!-- .entry-content -->
          </article>


        </main>
      </div>

    </div>
    <div class="divider-3"></div>
  </section>
{% endblock %}
