{% load field_tags %}
{% load errors %}
<form method="POST" id="commentform" class="comment-form">

  {% csrf_token %}
  {% hidden_fields form %}
  {% non_field_errors form %}

  {% if request.user.is_authenticated %}

    <p class="mb-4">Ваше имя: <span class="bold">{{ request.user.get_full_name }}</span></p>

    <p class="comment-form-comment form-group has-placeholder">
      <label for="{{ form.text.auto_id }}">{{ form.text.label }}</label>
      {{ form.text }}
      {% field_errors form.text %}
      <small id="answer_to" class="text-success"></small>
    </p>
    <p class="form-submit">
      <button type="submit" class="btn btn-small btn-maincolor">Отправить</button>
    </p>

  {% else %}

    <p class="mb-4">Для того, чтобы оставлять комментарии, необходимо войти</p>
    <a href="{% url 'accounts:login' %}?next={% url 'knowledge_base:news:article' article.url %}">Войти</a>
    <a class="ml-4" href="{% url 'accounts:register' %}?next={% url 'knowledge_base:news:article' article.url %}">Зарегистрироваться</a>

  {% endif %}

</form>
