{% extends "base.html" %}

{% block main %}
<div class="container mb-5">
  <h1>Политика использования файлов Cookie</h1>
  <p>Данный Cайт использует различные категории файлов cookie (на основании вашего согласия, когда это необходимо) на
    вашем устройстве для распознавания браузера вашего устройства, при условии активации файлов cookie. Политика
    использования файлов cookie применяется к любым продуктам или услугам, в которых содержится ссылка на настоящую
    политику или в отношении которых подразумевается ее применение.</p>
  <h5>1.Что представляют собой файлы cookie?</h5>
  <p>Файл cookie — это небольшой файл, который наш Сайт просит у вашего браузера сохранить на вашем устройстве
    (компьютер, смартфон, планшет и т. д.) при посещении данного сайта. Слово cookie также используется в настоящей
    политике в отношении других цифровых технологий для проведения оценок, например, веб-маяков.

    Благодаря файлам cookie, мы можем представлять Вам веб-страницы, которые наиболее соответствуют вашим потребностям и
    сделать использование Сайта более персонифицированным. Мы также используем файлы cookie третьих лиц, как указано в
    настоящей политике, которые происходят из посещаемых Вами иных сайтов, других доменов для целей рекламы и
    маркетинга. Определенные файлы cookie важны для функционирования и автоматически активируются при посещении Вами
    сайта. Некоторые файлы cookie позволяют нам предоставлять Вам сервисы и функции, которые наиболее соответствуют
    вашим потребностям, и совершенствовать наше обслуживание для обеспечения простой и удобной работы Сайта.</p>
  <h5>2.Каким образом вас информируют?</h5>
  <p>В момент вашего входа на наш Сайт Вас информируют с помощью соответствующего баннера об использовании файлов cookie
    и об их категории</p>
  <h5>3.Самостоятельный выбор использования файлов cookie</h5>
  <p>Вы можете использовать наш инструмент настройки файлов cookie для управления каждой категорией файлов cookie в
    соответствии с вашими предпочтениями (кроме обязательных файлов cookie, которые не могут быть деактивированы в наших
    системах), нажав на соответствующую кнопку в баннере с уведомлением о файлах cookie.

    Если вы не согласны с настройками отдельных файлов cookie, Вы можете деактивировать соответствующие файлы cookie,
    воспользовавшись приведенной ссылкой. При отсутствии прямых ссылок для деактивации некоторых файлов cookie Вы можете
    ограничить использование файлов cookie в настройках своего браузера.</p>
  <h5>4.Какие категории файлов cookie используются на данном сайте и для каких целей?</h5>
  <p>Мы можем использовать следующие категории файлов cookie на данном Сайте:</p>
  <ul>
    <li>Необходимые файлы cookie</li>
    <li>Файлы cookie для целей маркетинга</li>
    <li>Файлы cookie социальных сетей</li>
    <li>Файлы cookie для отслеживания предпочтений пользователей</li>
  </ul>
  <p><b>Необходимые файлы cookie</b> позволяют пользователям переходить на разные страницы сайта и использовать их
    возможности.
    Такие файлы cookie не могут быть отключены в наших системах. Без таких файлов cookie не будет возможен, например,
    вход на Сайт.</p>
  <p>Мы используем <b>необходимые файлы cookie</b> для следующих целей:</p>
  <ul>
    <li>Обеспечение точной работы функций веб-страниц.</li>
    <li>Обеспечение вам возможности хранения информации по форме, которую вы можете заполнить на нашем сайте о
      продукции, услугах или другой выбранной вами информации.
    </li>
    <li>Обеспечение вам возможности доступа в ваши персональные разделы на нашем сайте.</li>
    <li>Адаптация внешнего вида Сайта в соответствии с вашими предпочтениями (язык, формат и т. д.).</li>
    <li>Принятие мер безопасности при регистрации.</li>
  </ul>
  <p>Вы можете настроить свой браузер таким образом, чтобы блокировать такие файлы cookie или получать о них
    уведомление, но в таком случае у Вас с высокой вероятностью могут быть возникнуть трудности с доступом к Сайту или
    его сервисам.</p>
  <p><b>Файлы cookie для отслеживания предпочтений пользователей</b> осуществляют сбор информации о том, как
    пользователи
    используют наш Сайт (управление целевой аудиторией) и Интернет в целом. Они помогают нам улучшать свойства нашего
    Сайта, анализировать, что представляет наибольший интерес для пользователей, и узнавать об эффективности наших
    рекламных кампаний. Все это помогает нам предлагать нашим пользователям сервисы и функции, которые наиболее отвечают
    их потребностям.</p>
  <p>Мы используем файлы cookie для отслеживания предпочтений пользователей в следующих целях:</p>
  <ul>
    <li>Ведение статистики использования нашего Сайта</li>
    <li>Анализ эффективности наших рекламных кампаний</li>
    <li>Анализ действий обезличенных пользователей для улучшения нашего Са</li>
  </ul>
  <p>Некоторые из наших файлов cookie для отслеживания предпочтений предоставляются уполномоченными третьими лицами,
    однако мы не позволяем использовать файлы cookie для иных целей, кроме тех, которые предусмотрены настоящей
    политикой.</p>
  <p><b>Файлы cookie для целей маркетинга/социальных сетей</b>, включая целевые файлы cookie, позволяют нам делать нашим
    пользователям более интересные предложения. Целевые файлы cookie хранятся на устройстве пользователя во время
    сеансов браузера. Они позволяют нам рекламировать наши продукты на партнерских сайтах и в социальных сетях для
    пользователей, которые интересовались нашими продуктами.</p>
  <p>Мы используем файлы cookie для целей маркетинга/ социальных сетей для следующего:</p>
  <ul>
    <li>Показ вам рекламных сообщений, которые наиболее соответствуют вашим потребностям (реклама, предназначенная для конкретных лиц)</li>
    <li>Улучшение взаимодействия за счет создания возможности повторных обращений через рекламу</li>
    <li>Анализ вашего использования нашего сайта для предвосхищающей рекламы</li>
  </ul>
  <p>Дальнейшее использование этого Сайта подразумевает ваше согласие на использование этих технологий.</p>
</div>
<!-- Добавь более подробную информацию по необходимости -->
{% endblock %}
