<div class="row plan-content choose-slider c-mt-0 c-mt-lg-10 c-mt-xl-0">


  {% for item in promotions %}
    <div class="col-xl-3 col-md-6">
      <div class="pricing-plan plan{{ forloop.counter }} cs">


        <div class="plan-name">
          <h5 class="text-uppercase hyphenate">
            {{ item.title }}
          </h5>
        </div>

        {% if item.price %}
          <div class="plan-description">
            <h6 class="fw-300 text-uppercase">{% if item.sale %}скидка{% endif %} {% if not item.fixed_price %}{{ item.sale|yesno:"До,От" }}{% endif %}</h6>
          </div>
          <div class="price-wrap color-main2">
            <span class="plan-price">{{ item.price|floatformat:"-2g" }}</span>
            <span class="plan-sign">{{ item.get_currency }}</span>
          </div>
        {% endif %}

        <div class="plan-features">
          {{ item.homepage_description| safe }}
        </div>

        <div><a href="{% url 'promotions:promotion' item.url %}" class="btn btn-small btn-outline-maincolor">Подробнее</a></div>


      </div>
    </div>
  {% endfor %}
</div>
