{% extends 'base.html' %}
{% load cropping %}
{% load static %}


{% block links %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
{% endblock %}


{% block header %}
    {% include 'chunks/header/title.html' %}
{% endblock %}



{% block main %}
    <section class="ls s-pt-50 s-pb-60 s-pt-lg-90 s-pb-lg-100 s-pt-xl-140 s-pb-xl-150 container-px-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-xl-5">
                            <div class="filters gallery-filters text-lg-right">
                                <a href="#" data-filter="*" class="active selected">Все</a>
                                {% for item in categories %}
                                    <a href="#" data-filter=".{{ item.url }}">{{ item.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    <div class="row isotope-wrapper masonry-layout c-gutter-0" data-filters=".gallery-filters">

                        {% for item in works %}{% with image=item.image_set.first %}
                            <div class="work col-xl-4 col-sm-6 {% for category in item.categories.all %}{{ category.url }} {% endfor %}"
                                 data-url="{% url 'work_gallery:single' item.url %}">
                                <div class="vertical-item item-gallery content-absolute text-center ds">
                                    <div class="item-media">
                                        <img src="{% cropped_thumbnail image 'list_thumbnail' max_size=image.max_size %}"
                                             alt="{% if image.alt %}{{ image.alt }}{% else %}{{ image.image.name }}{% endif %}">
                                        <div class="media-links">
                                            <div class="links-wrap">
                                                <a class="link-zoom photoswipe-link" data-width="{{ image.image.width }}" data-height="{{ image.image.height }}"
                                                   href="{{ image.image.url }}"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-content gradientdarken-background">
                                        <h6>
                                            <a href="{% url 'work_gallery:single' item.url %}">{{ item.title }}</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        {% endwith %}{% endfor %}

                    </div>
                    <!-- .isotope-wrapper-->

                    {#                    <div class="row mt-50">#}
                    {#                        <div class="col-sm-12 text-center">#}
                    {#                            <a href="#" class="btn btn-outline-maincolor">Load More</a>#}
                    {#                        </div>#}
                    {#                    </div>#}

                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block body_scripts %}
    <script src="{% static 'js/custom/clickable-gallery-work.js' %}"></script>
{% endblock %}