{% extends 'base.html' %}
{% load deferred_static %}
{% load cropping %}
{% load static %}


{% block links %}
  {% deferred_style 'css/shop.css' 'color-switcher-link' %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
{% endblock %}


{% block header %}
  {% include 'chunks/header/title.html' %}
{% endblock %}



{% block main %}
  <section class="ls s-py-60 s-py-lg-100 s-py-xl-150 gallery-single">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">

          <div class="vertical-item content-padding hero-bg">
            <div class="item-media">
              <div class="owl-carousel" data-margin="0" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1" data-dots="false"
                   data-nav="true">
                {% for image in work.image_set.all %}
                  <a {% if image.iframe_url %}data-iframe="{{ image.iframe_url }}" class="photoswipe-link"{% endif %}>
                    <img src="{% cropped_thumbnail image 'page_thumbnail' %}" alt="{{ image.image.get_alt }}">
                  </a>
                {% endfor %}
              </div>
            </div>
            <div class="item-content">
              {{ work.text|safe }}
            </div>
          </div>
          <script src="https://yastatic.net/share2/share.js"></script>
          <div class="ya-share2 share__buttons" data-curtain data-bare data-services="vkontakte,facebook,odnoklassniki,telegram,viber,whatsapp"></div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
