{% load errors %}
<div class="divider-50 d-none d-xl-block"></div>
<div class="alert alert-light">
  <h5 class="special-heading">Оставить<span class="text-gradient">заявку</span></h5>
  <div class="divider-50 d-none d-xl-block"></div>
  <form id="short-appointment-form" class="{% if form.errors or messages %}scroll-to{% endif %} c-mb-10 c-mb-md-20 c-gutter-20" method="POST" novalidate>

    {% csrf_token %}
    {% non_field_errors form %}
    {% for message in messages %}<p class="{{ message.extra_tags }} font-weight-bold">{{ message }}</p>{% endfor %}

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group has-placeholder">
          <label for="name">Ваше имя *</label><i class="fa fa-user color-main"></i>
          <input type="text" aria-required="true" size="{{ form.fields.full_name.max_length }}" value="{{ form.full_name.value|default_if_none:'' }}"
                 name="{{ form.full_name.name }}" id="name" class="form-control" placeholder="Ваше имя *"
                 style="background-image: url('&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;'); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
          {% field_errors form.full_name %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group has-placeholder">
          <input type="hidden" aria-required="true" size="{{ form.fields.phone.max_length }}" value="{{ form.phone1.value|default_if_none:'' }}"
                 name="{{ form.phone1.name }}" class="form-control" placeholder="Телефон *">

          <label for="phone">Телефон *</label><i class="fa fa-phone color-main"></i>
          <input type="text" aria-required="true" size="{{ form.fields.phone.max_length }}" value="{{ form.phone.value|default_if_none:'' }}"
                 name="{{ form.phone.name }}" id="phone" class="form-control" placeholder="Телефон *">
          {% field_errors form.phone %}
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group has-placeholder">
          <label for="email">Email</label><i class="fa fa-envelope color-main"></i>
          <input type="email" aria-required="true" size="{{ form.fields.email.max_length }}" value="{{ form.email.value|default_if_none:'' }}"
                 name="{{ form.email.name }}" id="email" class="form-control" placeholder="E-mail">
          {% field_errors form.email %}
        </div>
      </div>
      <div class="col-sm-6">
        {% if promotion.specific_branch %}
          <input type="hidden" name="{{ form.branch.name }}" value="{{ promotion.specific_branch.id }}">
        {% else %}
          <div class="form-group choices-plain choices-plain--field">
            <div class="select">
              {{ form.branch }}
            </div>
            {% field_errors form.branch %}
          </div>
        {% endif %}
      </div>


      <div class="col-sm-12">
        <div class="textarea form-group has-placeholder">
          <label for="message">Укажите детали</label><i class="fa fa-edit color-main"></i>
          <textarea aria-required="true" rows="6" cols="45" maxlength="{{ form.fields.text.max_length }}" name="{{ form.text.name }}" id="message" class="form-control"
                    placeholder="Укажите детали">{{ form.text.value|default_if_none:'' }}</textarea>
          {% field_errors form.text %}
          <textarea style="opacity: 0; height: 0; padding: 0;" aria-required="true" rows="6" cols="45" name="{{ form.text1.name }}"
                    placeholder="Укажите детали"></textarea>
        </div>

        <div class="form-group">
          {{ form.captcha }}
          {% field_errors form.captcha %}
        </div>

        <p class="privacy-policy mb-2 small-text" style="font-size: 10px;">Отправляя данные, я соглашаюсь с
          <a class="link privacy-policy-trigger" target="_blank" style="text-decoration: underline;" href="#" data-toggle="modal" data-target="#modalPrivacyPolicy">
            политикой конфиденциальности
          </a></p>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-12 text-center text-md-left mt-30">
        <div class="form-group">
          <button type="submit" id="contact_form_submit" name="contact_submit" class="btn btn-maincolor"><span>Отправить</span></button>
        </div>
      </div>
    </div>
    <div class="divider-40 d-lg-none"></div>
  </form>
</div>
<div class="entry-content-aside entry-content-aside--socials-mobile col-12">
  <script src="https://yastatic.net/share2/share.js"></script>
  <div class="ya-share2" data-bare data-services="facebook,telegram"></div>
</div>
