{% load static %}

{% with form=login_form %}
  <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="modalLoginForm" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>×</span>
        </button>
        <div class="row c-gutter-0">
          <div class="col-12 col-lg-6 login-form-main">
            <div class="modal-header justify-content-center">
              <h4 class="modal-title">Вход</h4>
            </div>
            <div class="modal-body">
              <form action="{% url 'accounts:login' %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                  <div class="form-group has-placeholder">
                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                      <small class="text-warning">{{ error }}</small>
                    {% endfor %}
                  </div>
                {% endfor %}
                <div class="modal-password">
                  <a href="{% url 'accounts:password:reset' %}" class="modal-password-btn">Забыли пароль?</a>
                </div>
                <div class="modal-password">
                  Если у вас еще нет личного кабинета <a href="{% url 'accounts:register' %}" class="modal-password-btn">зарегистрируйтесь</a> и получайте скидки с каждого заказа.
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <button type="submit" class="btn btn-small btn-maincolor log-btn">Войти</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-6 ds s-overlay">
            <img loading="lazy" src="{% static 'images/modal-login-form.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endwith %}
