{% load shortcuts %}
{% load errors %}
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentForm" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>×</span>
            </button>
            <div class="modal-header justify-content-center">
                <h4 class="modal-title">Онлайн запись</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'accounts:pa:appointment:new' %}" class="form-register row c-gutter-0">

                    {% csrf_token %}
                    {% non_field_errors form %}
                    <div class="col-11 col-md-6">
                        <div class="form-group has-placeholder form-group--datetime">
                            <input name="{{ appointment_form.datetime.name }}" id="datetimepickerRegister" class="form-control" type="text" placeholder="Удобная дата и время"
                                    {% if appointment_form.datetime.field.required %} required{% endif %}>
                        </div>
                        {% field_errors appointment_form.datetime %}
                    </div>
                    <div class="col-11 col-md-6">
                        <div class="form-group has-placeholder">
                            <label for="nameReg">Имя:</label>
                            <input type="text" class="form-control" id="nameReg" placeholder="Имя" name="{{ appointment_form.full_name.name }}"
                                   value="{% firstof appointment_form.full_name.value %}" {% choose appointment_form.datetime.field.required 'required' %}>
                            {% field_errors appointment_form.full_name %}
                        </div>
                        <div class="form-group has-placeholder">
                            <label for="carReg">Автомобиль:</label>
                            <input type="text" class="form-control" id="carReg" placeholder="Автомобиль" name="{{ appointment_form.car.name }}"
                                   value="{% firstof appointment_form.car.value %}" {% choose appointment_form.datetime.field.required 'required' %}>
                            {% field_errors appointment_form.car %}
                        </div>
                        <div class="form-group has-placeholder">
                            <label for="phoneReg">Ваш телефон:</label>
                          <input type="text" class="form-control" id="phoneReg" placeholder="Ваш телефон" name="{{ appointment_form.phone.name }}"
                                 value="{% firstof appointment_form.phone.value %}" {% choose appointment_form.datetime.field.required 'required' %}>
                          {% field_errors appointment_form.phone %}
                        </div>
                      <div class="form-group choices-plain choices-plain--field">
                        <div class="select">
                          {{ appointment_form.branch }}
                        </div>
                        {% field_errors appointment_form.branch %}
                      </div>
                      <p class="privacy-policy mb-1 small-text text-center" style="font-size: 10px;">Отправляя данные, я соглашаюсь с <a class="link" target="_blank"
                                                                                                                                         style="text-decoration: underline;"
                                                                                                                                         href="{% url 'editor_pages:privacy' %}">политикой
                        конфиденциальности</a></p>
                      <div class="modal-footer d-flex justify-content-center mt-2">
                        <button type="submit" class="btn btn-small btn-maincolor log-btn">Записаться</button>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
