{% extends 'base.html' %}
{% load render_with_car %}
{% load deferred_static %}
{% load service_url %}

{% load cropping %}
{% load static %}


{% block links %}
  {% deferred_style 'css/shop.css' 'color-switcher-link' %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
{% endblock %}


{% block modals %}
  {% if selected_car and not product.canonical_to_original %}
    {% include 'modals/select-car.html' %}
  {% endif %}
{% endblock %}


{% block header %}
  {% if product.canonical_to_original %}
    {% include 'chunks/header/title.html' %}
  {% else %}
    {% include 'chunks/header/title-filter.html' %}
  {% endif %}
{% endblock %}



{% block main %}

  <section class="ls s-pt-50 s-pb-20 s-pt-lg-100 s-pb-lg-90 s-pt-xl-150 s-pb-xl-140 c-gutter-60 c-mb-30 c-mb-lg-0 service-single">
    <div class="container">
      <div class="row">

        <div class="col-md-7 col-lg-8">
          <div class="article-text">

            {% render_with_car_context product.description %}

          </div>

          {% include 'accounts/chunks/short-appontment-form.html' %}

        </div>
        <aside class="col-md-5 col-lg-4">

          {% include 'services/chunks/aside/product_spares_details.html' %}
          {% include 'services/chunks/aside/request_call_form.html' %}
          {% include 'services/chunks/aside/special_offer.html' %}
          {% include 'services/chunks/aside/other_products.html' %}

        </aside><!-- .col-* -->
      </div>
      {% include 'services/chunks/progress_bars.html' %}

    </div>
  </section>

  {% include 'services/chunks/articles.html' %}

{% endblock %}



{% block body_scripts %}
  <script src="{% static 'js/custom/ajax-filter.js' %}"></script>
  <script src="{% static 'js/custom/scroll-to.js' %}"></script>
{% endblock %}
