{% extends 'base.html' %}
{% load render_with_context %}
{% load iterables %}
{% load car_filter_context %}
{% load deferred_static %}
{% load service_url %}

{% load cropping static shortcuts %}


{% block links %}
  {% deferred_style 'css/shop.css' 'color-switcher-link' %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
{% endblock %}


{% block modals %}
  {% if selected_car %}
    {% include 'modals/select-car.html' %}
  {% endif %}
{% endblock %}


{% block header %}
  {% include 'chunks/header/title-filter.html' %}
{% endblock %}


{% block main %}
  {% if current_section.description %}
    <section class="ls s-pt-60 s-pb-30 s-py-lg-100 s-py-xl-150 c-gutter-60 c-mb-30 c-mb-lg-0">
      <div class="container">
        <div class="row">
          <div class="col-md-7">

            {% get_car_filter_context as car_filter_context %} {# Get car_filter context #}
            {% render_with_context product.description car_filter_context %}

            {% if child_products %}
              <h5>{{ current_section.title }}: цена за работу</h5>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Услуга</th>
                  <th>Стоимость</th>
                </tr>
                </thead>
                <tbody>
                {% for item in child_products %}
                  <tr>
                    <td><a href="{% service_url item %}">{{ item.title }}</a></td>
                    <td>{{ item.verbose_price }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}

          </div>

          <div class="col-md-5 service-tab">

            {% with child_sections|merge:child_products as child_items %}
              {% if child_items %}
                <div id="accordion01" class="accordion ls ms" role="tablist">

                  {% for item in child_items %}
                    <div class="card">

                      <div class="card-header" role="tab" id="collapse{{ forloop.counter }}_header">
                        <h6>
                          <a {% if forloop.first %}class="collapsed"{% endif %} data-toggle="collapse" href="#collapse{{ forloop.counter }}"
                             aria-expanded="{{ forloop.first|yesno:"true,false" }}"
                             aria-controls="collapse{{ forloop.counter }}">
                            {{ item.title }}
                          </a>
                        </h6>
                      </div>
                      <div id="collapse{{ forloop.counter }}" class="collapse {% if forloop.first %}show{% endif %}" role="tabpanel"
                           aria-labelledby="collapse{{ forloop.counter }}_header" data-parent="#accordion01">
                        <div class="card-body">
                          <div class="media align-items-center">
                            <div class="media-left">
                              <a href="{% service_url item %}">
                                <img src="{% cropped_thumbnail item 'thumbnail_80x80' %}" alt="{{ item.title }}">
                              </a>
                            </div>
                            <div class="media-body">
                              <b>Цена:</b> {{ item.verbose_price }}
                              <br>
                              <b>Длительность:</b> {{ item.time_duration }}
                              <br>
                              <a href="{% service_url item %}">Подробнее</a>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  {% endfor %}

                </div>
              {% endif %}
            {% endwith %}


            {% include 'services/chunks/branches.html' %}

            <div class="ls ms p-30">
              <h6>Оставить заявку</h6>
              <div class="form-group has-placeholder">
                <label for="name">Ваше имя<span class="required">*</span></label>
                <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Имя">
              </div>
              <div class="form-group has-placeholder">
                <label for="phone">Телефон<span class="required">*</span></label>
                <input type="text" aria-required="true" size="30" value="" name="phone" id="phone" class="form-control" placeholder="Телефон">
              </div>
              <div class="form-group has-placeholder">
                <label for="email">email<span class="required">*</span></label>
                <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="email">
              </div>
              <div class="form-group has-placeholder">
                <label for="message">Сообщение</label>
                <textarea aria-required="true" rows="3" cols="45" name="message" id="message" class="form-control" placeholder="Сообщение"></textarea>
              </div>
              <button type="submit" id="contact_form_submit" name="contact_submit" class="btn btn-maincolor mt-20">Отправить</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% else %}
    <section class="ls s-pt-60 s-pb-40 s-pt-lg-100 s-pb-lg-80 s-pt-xl-150 s-pb-xl-130 c-mb-20 c-gutter-20">
      <div class="container">
        <div class="row">

          {% for item in child_sections %}
            <div class="col-md-6 col-12">
              <div class="icon-box rounded text-center hero-bg">
                <a href="{% service_url item %}">
                  <img src="{% cropped_thumbnail item 'thumbnail_455x200' %}" width="455" height="200" alt="{{ item.title }}">
                </a>
                <h6 class="service-title">
                  <a href="{% service_url item %}">{{ item.title }}</a>
                </h6>
                <p>
                  {{ item.short_description }}
                </p>
                <a href="{% service_url item %}" class="service-btn read-more"><span>Подробнее</span></a>
              </div>
            </div><!-- .col-* -->
          {% endfor %}

        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}

{% block body_scripts %}
  <script src="{% static 'js/custom/ajax-filter.js' %}"></script>
{% endblock %}
