{% extends 'base.html' %}
{% load errors %}
{% load static %}
{% load deferred_static %}


{% block links %}
  {% deferred_style 'css/shop.css' 'color-switcher-link' %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
{% endblock %}


{% block header %}
  {% include 'chunks/header/title.html' %}
{% endblock %}



{% block main %}

  <section class="ls s-py-60 s-py-lg-100 s-pt-xl-150 s-pb-xl-140">
    <div class="container">
      <div class="row">
        <main class="col-lg-12">

          <form method="POST" class="checkout woocommerce-checkout" novalidate>


            {% if form.full_name.errors or form.phone.errors %}
              <div class="woocommerce-NoticeGroup woocommerce-NoticeGroup-checkout">
                <ul class="woocommerce-error">
                  {% if form.full_name.errors %}
                    <li><strong>Имя</strong> обязательно к заполнению.</li>
                  {% endif %}
                  {% if form.phone.errors %}
                    <li><strong>Телефон</strong> обязателен к заполнению.</li>
                  {% endif %}
                </ul>
              </div>
            {% endif %}


            <div class="col2-set" id="customer_details">
              <div class="col-1">
                <div class="woocommerce-billing-fields">

                  <h5>Напишите нам, какие запчасти вам нужны</h5>


                  <div class="woocommerce-billing-fields__field-wrapper">

                    {% csrf_token %}
                    {% non_field_errors form %}
                    {% for message in messages %}<p class="{{ message.extra_tags }} font-weight-bold">{{ message }}</p>{% endfor %}

                    <p class="form-row form-row-first validate-required woocommerce-invalid woocommerce-invalid-required-field" data-priority="10">
                      <label for="full_name">Ваше имя <abbr class="required" title="required">*</abbr></label>
                      <input aria-required="true" size="{{ form.fields.full_name.max_length }}" value="{{ form.full_name.value|default_if_none:'' }}" type="text"
                             class="input-text form-control" name="{{ form.full_name.name }}" id="full_name" placeholder="Ваше имя">
                      {% field_errors form.full_name %}
                    </p>
                    <p class="form-row form-row-last validate-required" data-priority="20">
                      <label for="phone">Телефон <abbr class="required" title="required">*</abbr></label>
                      <input aria-required="true" size="{{ form.fields.phone.max_length }}" value="{{ form.phone.value|default_if_none:'' }}" type="text"
                             class="input-text form-control" name="{{ form.phone.name }}" id="phone" placeholder="Телефон">
                      {% field_errors form.phone %}
                    </p>
                    <p class="form-row form-row-wide address-field validate-required" data-priority="50">
                      <label for="car">Ваш автомобиль</label>
                      <input size="{{ form.fields.car.max_length }}" value="{{ form.car.value|default_if_none:'' }}" type="text"
                             class="input-text form-control" name="{{ form.car.name }}" id="car" placeholder="Какой у вас автомобиль">
                      {% field_errors form.car %}
                    </p>
                    <p class="form-row form-row-wide address-field validate-required" data-priority="50">
                      <label for="vin">VIN номер</label>
                      <input size="{{ form.fields.vin.max_length }}" value="{{ form.vin.value|default_if_none:'' }}" type="text"
                             class="input-text form-control" name="{{ form.vin.name }}" id="vin" placeholder="VIN номер">
                      {% field_errors form.vin %}
                    </p>
                    <div class="form-group choices-plain choices-plain--field">
                      <div class="select bg-white">
                        {{ form.branch }}
                      </div>
                      {% field_errors form.branch %}
                    </div>
                    <p class="form-row form-row-wide address-field validate-required" data-priority="70" data-o_class="form-row form-row-wide address-field validate-required">
                      <label for="text">Номера или названия запчастей</label>
                      <textarea type="text" class="input-text form-control" name="{{ form.text.name }}" id="text"
                                placeholder="Номера или названия запчастей">{{ form.text.value|default_if_none:'' }}</textarea>
                      {% field_errors form.text %}
                    </p>


                    <button type="submit" class="btn btn-outline-maincolor small-button">Отправить заявку</button>
                  </div>

                </div>

              </div>
            </div>


            <div id="order_review" class="woocommerce-checkout-review-order">

              <a class="d-block" href="{% url 'promotions:promotion' promotion_url='schastlivye-chasy' %}">
                <img src="{% static 'images/banners/promo_zapchasti.jpg' %}" alt="Счастливые часы">
              </a>
            </div>


          </form>


        </main>
      </div>
    </div>
    <div class="divider-10 d-none d-xl-block"></div>
  </section>

{% endblock %}
