{% extends 'base.html' %}
{% load errors %}
{% load static %}
{% load deferred_static %}


{% block links %}
  {% deferred_style 'css/shop.css' 'color-switcher-link' %}
  {% deferred_style 'css/utils.css' %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
{% endblock %}


{% block header %}
  {% include 'chunks/header/title.html' %}
{% endblock %}



{% block main %}

  <section class="ls s-py-60 s-py-lg-100 s-pt-xl-150 s-pb-xl-140">
    <div class="container">
      <div class="row">
        <main class="col-lg-12">

          <form method="POST" class="checkout woocommerce-checkout" novalidate>


            <div class="woocommerce-NoticeGroup woocommerce-NoticeGroup-checkout">
              <ul class="woocommerce-error">
                <li><strong>Имя</strong> обязательно к заполнению.</li>
                <li><strong>Телефон</strong> обязателен к заполнению.</li>
              </ul>
            </div>


            <div class="col2-set" id="customer_details">
              <div class="col-1">
                <div class="woocommerce-billing-fields">

                  <h5>Напишите нам, какие запчасти вам нужны</h5>


                  <div class="woocommerce-billing-fields__field-wrapper">

                    {% csrf_token %}
                    {% non_field_errors form %}
                    {% for message in messages %}<p class="{{ message.extra_tags }} font-weight-bold">{{ message }}</p>{% endfor %}

                    <p class="form-row form-row-first validate-required woocommerce-invalid woocommerce-invalid-required-field" data-priority="10">
                      <label for="full_name">Ваше имя <abbr class="required" title="required">*</abbr></label>
                      <input aria-required="true" size="{{ form.fields.full_name.max_length }}" value="{{ form.full_name.value|default_if_none:'' }}" type="text"
                             class="input-text form-control" name="{{ form.full_name.name }}" id="full_name" placeholder="Ваше имя">
                      {% field_errors form.full_name %}
                    </p>
                    <p class="form-row form-row-last validate-required" data-priority="20">
                      <label for="phone">Телефон <abbr class="required" title="required">*</abbr></label>
                      <input aria-required="true" size="{{ form.fields.phone.max_length }}" value="{{ form.phone.value|default_if_none:'' }}" type="text"
                             class="input-text form-control" name="{{ form.phone.name }}" id="phone" placeholder="Телефон">
                      {% field_errors form.phone %}
                    </p>
                    <p class="form-row form-row-wide address-field validate-required" data-priority="50">
                      <label for="car">Ваш автомобиль</label>
                      <input size="{{ form.fields.car.max_length }}" value="{{ form.car.value|default_if_none:'' }}" type="text"
                             class="input-text form-control" name="{{ form.car.name }}" id="car" placeholder="Какой у вас автомобиль">
                      {% field_errors form.car %}
                    </p>
                    <p class="form-row form-row-wide address-field validate-required" data-priority="50">
                      <label for="vin">VIN номер</label>
                      <input size="{{ form.fields.vin.max_length }}" value="{{ form.vin.value|default_if_none:'' }}" type="text"
                             class="input-text form-control" name="{{ form.vin.name }}" id="vin" placeholder="VIN номер">
                      {% field_errors form.vin %}
                    </p>
                    <p class="form-row form-row-wide address-field validate-required" data-priority="70" data-o_class="form-row form-row-wide address-field validate-required">
                      <label for="text">Номера или названия запчастей</label>
                      <textarea type="text" class="input-text form-control" name="{{ form.text.name }}" id="text"
                                placeholder="Номера или названия запчастей">{{ form.vin.value|default_if_none:'' }}</textarea>
                      {% field_errors form.text %}
                    </p>


                    <button type="submit" class="btn btn-outline-maincolor small-button">Отправить заявку</button>
                  </div>

                </div>

              </div>
            </div>


            <h5 id="order_review_heading">Your order</h5>


            <div id="order_review" class="woocommerce-checkout-review-order">
              <table class="shop_table woocommerce-checkout-review-order-table">
                <thead>
                <tr>
                  <th class="product-name">Product</th>
                  <th class="product-total">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr class="cart_item">
                  <td class="product-name">
                    Premium Quality&nbsp; <strong class="product-quantity">× 1</strong>
                  </td>
                  <td class="product-total">
													<span class="woocommerce-Price-amount amount">
														<span class="woocommerce-Price-currencySymbol">$</span>12.00</span>
                  </td>
                </tr>
                <tr class="cart_item">
                  <td class="product-name">
                    Woo Ninja&nbsp; <strong class="product-quantity">× 1</strong>
                  </td>
                  <td class="product-total">
													<span class="woocommerce-Price-amount amount">
														<span class="woocommerce-Price-currencySymbol">$</span>15.00</span>
                  </td>
                </tr>
                <tr class="cart_item">
                  <td class="product-name">
                    Woo Album #3&nbsp; <strong class="product-quantity">× 2</strong>
                  </td>
                  <td class="product-total">
													<span class="woocommerce-Price-amount amount">
														<span class="woocommerce-Price-currencySymbol">$</span>18.00</span>
                  </td>
                </tr>
                </tbody>
                <tfoot>

                <tr class="cart-subtotal">
                  <th>Subtotal</th>
                  <td>
													<span class="woocommerce-Price-amount amount">
														<span class="woocommerce-Price-currencySymbol">$</span>45.00</span>
                  </td>
                </tr>


                <tr class="order-total">
                  <th>Total</th>
                  <td>
                    <strong>
                        <span class="woocommerce-Price-amount amount">
                            <span
                                    class="woocommerce-Price-currencySymbol">$</span>45.00</span>
                    </strong>
                  </td>
                </tr>


                </tfoot>
              </table>

              <div id="payment" class="woocommerce-checkout-payment">
                <ul class="wc_payment_methods payment_methods methods">
                  <li class="wc_payment_method payment_method_cheque">
                    <input id="payment_method_cheque" type="radio" class="input-radio" name="payment_method" value="cheque" checked="checked" data-order_button_text="">

                    <label for="payment_method_cheque">
                      Check payments </label>
                    <div class="payment_box payment_method_cheque" style="display: none;">
                      <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store
                        Postcode.</p>
                    </div>
                  </li>
                  <li class="wc_payment_method payment_method_cod">
                    <input id="payment_method_cod" type="radio" class="input-radio" name="payment_method" value="cod" data-order_button_text="">

                    <label for="payment_method_cod">
                      Cash on delivery </label>
                    <div class="payment_box payment_method_cod" style="display: block;">
                      <p>Pay with cash upon delivery.</p>
                    </div>
                  </li>
                </ul>
                <div class="form-row place-order">
                  <noscript>
                    Since your browser does not support JavaScript, or it is disabled, please ensure you click the
                    &lt;em&gt;Update Totals&lt;/em&gt; button before placing your order. You may be charged more
                    than the amount stated above if you fail to do so. &lt;br/&gt;&lt;input type="submit"
                    class="button alt" name="woocommerce_checkout_update_totals" value="Update totals" /&gt;
                  </noscript>

                  <button type="submit" class="btn btn-outline-maincolor small-button" name="woocommerce_checkout_place_order">Place order</button>

                </div>
              </div>

            </div>


          </form>


        </main>
      </div>
    </div>
    <div class="divider-10 d-none d-xl-block"></div>
  </section>

{% endblock %}
