{% load cropping %}
{% if article.author %}
  <div class="widget widget_author_bio ls ms text-center">
    <div class="item-media">
      <img src="{% cropped_thumbnail article.author 'thumbnail' %}" alt="{{ article.author.name }}">
    </div>
    <div class="item-content mt-25">
      <h6 class="fw-700 mb-10">
        {{ article.author.name }}
      </h6>
      <p>
        {{ article.author.position_string }}
      </p>
    </div>
  </div>

  <div class="social-icon social-buttons social-buttons--aside">
    <p class="social-icons">
      <span><a href="https://www.facebook.com/autoservice.ap/" class="fa fa-facebook border-icon rounded-icon" title="facebook"></a></span>
      <span><a href="https://t.me/avtopremium_chat" class="fa fa-paper-plane border-icon rounded-icon" title="telegram"></a></span>
      <span><a href="https://www.instagram.com/autopremium_spb/" class="fa fa-instagram border-icon rounded-icon" title="instagram"></a></span>
    </p>
  </div>
{% endif %}
