{% load static %}

<div class="widget p-0">
  <div class="tw-rounded-xl tw-pt-14 tw-px-36-px bg-img background-img overflow-hidden z-1"
       data-background-image="{% static 'assets/images/bg/service-details-promo-img.png' %}">
    <div class="tw-mb-15 tw-pb-15">
      <div class="tw-pb-15 tw-mb-6">
        <span class="fw-bold text-uppercase text-main d-block tw-mb-205">
          Auto service
        </span>
        <h3 class="h4 text-white text-uppercase max-w-310-px">Получить консультацию</h3>
        <div class="tw-mt-405">
          <a href="#" data-toggle="modal" data-target="#modalRegisterForm"
             class="btn btn-main hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder tw-tracking-2-percent"
             data-block="button">
            <span class="button__flair"></span>
            <span class="button__label">
              Записаться
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
