<div class="widget widget_portfolio">

  <h5 class="widget-title">Instagram</h5>

  <div class="photo">
    <a href="#">
      <img src="images/gallery/10.jpg" alt="">
    </a>
  </div>

  <div class="photo">
    <a href="#">
      <img src="images/gallery/01.jpg" alt="">
    </a>
  </div>

  <div class="photo">
    <a href="#">
      <img src="images/gallery/07.jpg" alt="">
    </a>
  </div>

  <div class="photo">
    <a href="#">
      <img src="images/gallery/05.jpg" alt="">
    </a>
  </div>

</div>
