{% extends 'new_base.html' %}
{% load deferred_static %}
{% load static string_time_delta %}

{% block page_title %}
  {% include 'chunks/header/new_title.html' %}
{% endblock %}

{% block main %}
<!-- =============================== Blog section start ============================= -->
<section class="vs-section space space-extra-bottom py-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="vs-blog vs-blog--single mb-0 pe-lg-4">
                    <div class="vs-blog__img--figure">
                        <div class="vs-blog__img--link w-100">
                            <img src="{{ promotion.image.url }}" alt="{{ promotion.title }}"
                                class="vs-blog__img w-100">
                        </div>
                    </div>
                    <div class="tw-mt-11">
                        <div class="vs-blog__meta">
                            <span class="">
                                <i class="fa-regular fa-calendar-days text-main"></i>
                              Предложение действует до: {{ promotion.get_active_before }}
                            </span>
                          <div class="tw-mb-4">
                            <img src="{% static 'assets/images/icons/vs-blog-ele1.svg' %}" alt="blog elements" class="">
                          </div>
                        </div>
                        <p class="text-capitalize tw-mt-705">
                          {{ promotion.text|safe }}
                        </p>
                        <div class="tw-mt-16">
                            <img src="{% static 'assets/images/icons/vs-blog-ele1.svg' %}" alt="blog elements" class="">
                        </div>
                    </div>

                    {% include 'promotions/chunks/new_short_promotion_appointment_form.html' %}

                </div>
            </div>
            <div class="col-lg-4">
                <!-- Blog sidebar start -->
              <div class="sidebar-area">
                {% include 'promotions/chunks/new_promotion_types.html' %}
                {% include 'chunks/aside/new_tags.html' with tags=promotion.tags.all %}
                {% include 'promotions/chunks/new_other_promotions.html' %}

              </div>
              <!-- Blog sidebar end -->
            </div>
        </div>
    </div>
</section>
<!-- =============================== Blog section end ============================= -->
{% endblock %}
