{% extends 'base.html' %}
{% load deferred_static %}
{% load static string_time_delta %}


{% block links %}
  {% deferred_style 'css/shop.css' 'color-switcher-link' %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
{% endblock %}


{% block header %}
  {% include 'chunks/header/title.html' %}
{% endblock %}



{% block main %}
  <section class="ls s-py-60 s-py-lg-100 s-py-xl-150 c-gutter-60">
    <div class="container">
      <div class="row">

        <main class="col-lg-7 col-xl-8">
          <article class="vertical-item post type-event status-publish format-standard has-post-thumbnail events-post single-post">


            <div class="item-media post-thumbnail rounded-top">
              <img src="{{ promotion.image.url }}" alt="{{ promotion.title }}">
            </div>


            <div class="item-content">
              <div class="item-content-header">
                <div class="divider-7"></div>
                <div class="entry-meta item-meta color-darkgrey mb-20">
                  <i class="fa fa-calendar color-main"></i> <span>{{ promotion.date|date_delta }}</span>
                </div>
                <!-- .entry-meta -->
                <hr>
              </div>

              <div class="entry-content">
                <div class="entry-content-aside">
                  <div class="float-socials" style="">
                    <script src="https://yastatic.net/share2/share.js"></script>
                    <div class="ya-share2" data-bare data-services="facebook,telegram"></div>
                  </div>
                </div>
                <div class="entry-content-main">
                  {{ promotion.text|safe }}

                  <h6>Предложение действует до {{ promotion.get_active_before }}</h6>
                </div>
              </div>
              <!-- .entry-content -->

            </div>
            <!-- .item-content -->
          </article>


          {% include 'promotions/chunks/short-promotion-appointment-form.html' %}

        </main>

        <aside class="col-lg-5 col-xl-4">
          {% include 'promotions/chunks/promotion_types.html' %}
          {% include 'chunks/aside/tags.html' with tags=promotion.tags.all %}
          {# {% include 'chunks/aside/instagram.html' %} #}
          {% include 'promotions/chunks/other_promotions.html' %}
        </aside>
      </div>

    </div>
  </section>
{% endblock %}



{% block body_scripts %}
  <script src="{% static 'js/custom/scroll-to.js' %}"></script>
{% endblock %}
