На сайте {{ site_name }} была зарегистрирована новая заявка. Вы получили это сообщение потому что ваша почта зарегистрирована в списке получателей для филиала "{{ branch.name }}".

--- Детали заявки ---

Страница: {% if referrer %}{{ referrer }}{% else %}Недоступно{% endif %}
ID пользователя: {% if user %}#{{ user.id }}{% else %} Не зарегистрирован {% endif %}
Полное имя: {{ full_name }}
Номер телефона: {{ phone }}
Автомобиль: {{ car }}
Филиал: {{ branch.name }}
Дата и время: {{ datetime|date:"d E, Y" }}, {{ datetime|time:"H:i" }}
