{% extends 'accounts/emails/base.html' %}
{% load admin_reverse %}

{% block title %}
    <p align="left"
       style="font-size:18px;line-height:24px;color:#030F1C;font-weight:bold;margin-top:0px;margin-bottom:8px;font-family:HelveticaNeue,sans-serif">
        На сайте "{{ site_name }}" была зарегистрирована новая заявка.
    </p>
    <p align="left"
       style="font-size:14px;line-height:20px;color:#9A9A9A;margin-top:0px;margin-bottom:30px;font-family:HelveticaNeue,sans-serif">
        Вы получили это сообщение потому что ваша почта зарегистрирована в списке получателей для филиала "{{ branch.name }}".
    </p>
{% endblock %}

{% block data %}
  <tr style="border-collapse:collapse">
    <td width="35%" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
      <strong>Аккаунт пользователя:</strong>
    </td>
    <td width="60%" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
      {% if user %}
        {% admin_reverse user request=request %}
      {% else %}
        Не зарегистрирован
      {% endif %}
    </td>
  </tr>
  <tr style="border-collapse:collapse">
    <td width="35%" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
      <strong>Указанное полное имя:</strong>
    </td>
    <td width="60%" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
      {{ full_name }}
    </td>
  </tr>
    <tr style="border-collapse:collapse">
        <td style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
            <strong>Номер телефона:</strong>
        </td>
        <td style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
            <a href="http://openweblife.createsend4.com/t/d-i-ftrgl-l-n/" value="{{ phone }}"
               style="color:#0078be;font-weight:bold;text-decoration:none" target="_blank">{{ phone }}</a>
        </td>
    </tr>
    <tr style="border-collapse:collapse">
        <td style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
            <strong>Автомобиль</strong>
        </td>
        <td style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
            {{ car }}
        </td>
    </tr>
    <tr style="border-collapse:collapse">
        <td style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
            <strong>Филиал:</strong>
        </td>
        <td style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
            {{ branch.name }}
        </td>
    </tr>
  <tr style="border-collapse:collapse">
    <td style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
      <strong>Дата и время, указанные пользователем:</strong>
    </td>
    <td style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
      {{ datetime|date:"d E, Y" }}, {{ datetime|time:"H:i" }}
        </td>
    </tr>
{% endblock %}
