{% load deferred_static %}
{% load appointment_modal %}
{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="ru" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="ru" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="ru" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru" class="no-js">
<!--<![endif]-->

<head>
  <title>{{ title_prefix }} {{ page_title }} {{ title_suffix }}</title>
  <meta charset="utf-8">
  {% block language_head_scripts %}{% endblock %}
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <![endif]-->
  <meta name="description" content="{{ meta_description }}">
  <meta name="facebook-domain-verification" content="mwgauk8esb5robpinck7p4yerjzo8b" />

  {% if meta_robots %}
    <meta name="robots" content="{{ meta_robots }}">
  {% elif canonical_link and canonical_link != request.build_absolute_uri %}
    <meta name="robots" content="noindex, follow">
  {% else %}
    <meta name="robots" content="index, follow">
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {# Opengraph tags #}
  {% for key, value in opengraph_metatags.items %}
    <meta property="{{ key }}" content="{{ value }}"/>
  {% endfor %}

  {% if canonical_link %}
    <link rel="canonical" href="{{ canonical_link }}"/>
  {% else %}
    <link rel="canonical" href="{{ request.build_absolute_uri }}"/>
  {% endif %}

  {% if car_filter.vendor.favicon %}
    <link rel="icon" href="{{ car_filter.vendor.favicon.url }}" type="image/png">
  {% elif car.vendor.favicon %}
    <link rel="icon" href="{{ car.vendor.favicon.url }}" type="image/png">
  {% else %}
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
  {% endif %}

  <link rel="preload" href="{% static 'fonts/icomoon/icomoon.eot?scgqpa' %}" as="style">
  <link rel="preload" href="{% static 'fonts/icomoon/icomoon.eot?scgqpa#iefix' %}" as="style">
  <link rel="preload" href="{% static 'fonts/icomoon/icomoon.ttf?scgqpa' %}" as="style">
  <link rel="preload" href="{% static 'fonts/icomoon/icomoon.woff?scgqpa' %}" as="style">
  <link rel="preload" href="{% static 'fonts/icomoon/icomoon.svg?scgqpa#icomoon' %}" as="style">
  <link rel="preload" href="{% static 'fonts/icomoon/style.css' %}" as="style">
  {% deferred_style 'css/bootstrap.min.css' %}
  {% deferred_style 'css/animations.css' %}
  {% deferred_style 'css/font-awesome.css' %}
  {% deferred_style 'css/utils.css' %}

  {% block links %}
    {% deferred_style 'css/shop.css' 'color-switcher-link' %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
  {% endblock %}

  {# schema.org breadcrumbs JSON-LD #}
  {% include 'chunks/breadcrumbs_schema.html' %}

  {% block head_scripts %}{% endblock %}
  <!--[if lt IE 9]>
    <script src="{% static 'js/vendor/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/vendor/respond.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <![endif]-->
	<!— Top.Mail.Ru counter —> 
<script type="text/javascript"> 
var _tmr = window._tmr || (window._tmr = []); 
_tmr.push({id: "3577984", type: "pageView", start: (new Date()).getTime()}); 
(function (d, w, id) { 
 if (d.getElementById(id)) return; 
 var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id; 
 ts.src = "https://top-fwz1.mail.ru/js/code.js"; 
 var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);}; 
 if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } 
})(document, window, "tmr-code"); 
</script> 
<noscript><div><img src="https://top-fwz1.mail.ru/counter?id=3577984;js=na" style="position:absolute;left:-9999px;" alt="Top.Mail.Ru" /></div></noscript> 
<!— /Top.Mail.Ru counter —>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
      'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-MHS3F2G');</script>
  <!-- End Google Tag Manager -->

  {% block extra_styles %}
  {% endblock %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHS3F2G"
          height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<!--[if lt IE 9]>
<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a
  href="http://browsehappy.com/" class="color-main">upgrade your browser</a> to
  improve your experience.
</div><![endif]-->


{% if not request.user.is_authenticated %}
  {% load login_modal %}
  {% login_modal %}
{% endif %}
{% appointment_modal %}
{% include 'modals/search.html' %}


{% block modals %}
{% endblock %}

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
  <div id="box_wrapper">
    <!-- template sections -->

    {% block header %}
      {% include 'chunks/header/base.html' %}
    {% endblock %}

    {% include 'modals/privacy-policy.html' %}


    {% block main %}
    {% endblock %}


    {% include 'chunks/footer.html' %}
    {% include 'chunks/copyright.html' %}


  </div><!-- eof #box_wrapper -->
</div><!-- eof #canvas -->
<script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
<script src="{% static 'js/compressed.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/custom/ajax-remove-car-modal.js' %}"></script>
<script src="{% static 'js/custom/ajax-search.js' %}"></script>
<script src="{% static 'js/privacy-policy.js' %}"></script>
<script src="{% static 'js/custom/online-appointment.js' %}"></script>
<!-- Google Map Script -->
<!--     <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0pr5xCHpaTGv12l73IExOHDJisBP2FK4&callback=initGoogleMap"></script> -->

{% block body_scripts %}{% endblock %}
</body>

</html>
