<script type="application/ld+json">
{
 "@type": "BreadcrumbList",
 "@context": "http://schema.org",
 "itemListElement":
 [
    {
       "@type": "ListItem",
       "@context": "http://schema.org",
       "position": 1,
       "@id": "{% url 'home:index' %}",
       "name": "Главная"
    }{% if breadcrumbs|length %},{% endif %}

   {% for breadcrumb in breadcrumbs %}
      {% if forloop.last %}
        {
         "@type": "ListItem",
         "@context": "http://schema.org",
         "position": {{ forloop.counter|add:1 }},
         "@id": "{{ request.path }}",
         "name": "{{ breadcrumb.title }}"
        }
      {% else %}
        {
         "@type": "ListItem",
         "@context": "http://schema.org",
         "position": {{ forloop.counter|add:1 }},
         "@id": "{{ breadcrumb.url }}",
         "name": "{{ breadcrumb.title }}"
        },
      {% endif %}
   {% endfor %}
 ]
}
</script>
