<script type="application/ld+json">
{
 "@type": "BreadcrumbList",
 "@context": "http://schema.org",
 "itemListElement":
 [
   {% for breadcrumb in breadcrumbs %}
      {% if forloop.last %}
        {
         "@type": "ListItem",
         "@context": "http://schema.org",
         "position": {{ forloop.counter }},
         "@id": "{{ request.path }}",
         "name": "{{ breadcrumb.title }}"
        }
      {% else %}
        {
         "@type": "ListItem",
         "@context": "http://schema.org",
         "position": {{ forloop.counter }},
         "@id": "{{ breadcrumb.url }}",
         "name": "{{ breadcrumb.title }}"
        },
      {% endif %}
   {% endfor %}
 ]
}
</script>
