<script type="application/ld+json">
{
 "@context": "{{ request.scheme }}://{{ request.get_host }}",
 "@type": "BreadcrumbList",
 "itemListElement":
 [
   {% for breadcrumb in breadcrumbs %}
      {% if forloop.last %}
        {
         "@type": "ListItem",
         "position": {{ forloop.counter }},
         "item":
         {
          "@id": "{{ request.path }}",
          "name": "{{ breadcrumb.title }}"
          }
        }
      {% else %}
        {
         "@type": "ListItem",
         "position": {{ forloop.counter }},
         "item":
         {
          "@id": "{{ breadcrumb.url }}",
          "name": "{{ breadcrumb.title }}"
          }
        }
      {% endif %}
  {% endfor %}
 ]
}
</script>
