<section class="page_copyright ds ms s-pt-5 s-pb-25 s-py-lg-20">
    <div class="container">
        <div class="divider-2 d-none d-lg-block"></div>
        <div class="row align-items-center">
            <div class="divider-20 d-none d-lg-block"></div>
            <div class="col-md-12 text-center">
                <p class="social-icons with-border">
                    <span><a href="https://www.facebook.com/" class="fa fa-facebook border-icon rounded-icon" title="facebook"></a></span>
                    <span><a href="https://telegram.org/" class="fa fa-paper-plane border-icon rounded-icon" title="telegram"></a></span>
                    <span><a href="https://www.instagram.com/" class="fa fa-instagram border-icon rounded-icon" title="instagram"></a></span>
                </p>
                <p>&copy; ГК «Авто Премиум» <span class="copyright_year">2021</span> Все парва защищены.</p>
            </div>
            <div class="divider-20 d-none d-lg-block"></div>
        </div>
    </div>
</section>
