{% load strings %}
{% load static %}

<footer class="page_footer text-center text-md-left ds ms s-pt-65 s-pt-lg-125 s-pb-lg-35 c-gutter-40 main-footer">
  <div class="container">
    <div class="row">
      <div class="divider-20 d-none d-lg-block"></div>
      <div class="col-md-6 col-lg-3 animate" data-animation="fadeInUp">
        <div class="widget widget_icons_list">
          <a href="{% url 'home:index' %}" class="logo">
            <img src="{% static 'images/logo_ow.png' %}" alt="{{ site_name }}">
          </a>

          {% for item in navbar_branches|slice:":2" %}
            <div class="media side-icon-box">
              <div class="icon-styled color-main">
                <i class="fa fa-phone"></i>
              </div>
              <p class="media-body color-grey"><a href="tel:{{ item.phone|extract_phone }}">{{ item.phone }}</a></p>
            </div>
          {% endfor %}
          <div class="media side-icon-box">
            <div class="icon-styled color-main">
              <i class="fa fa-envelope"></i>
            </div>
            <p class="media-body color-grey">
              <a href="mailto:">{{ email }}</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 animate order-md-3 order-lg-2" data-animation="fadeInUp">
        <div class="widget widget_page_links">
          <h3>О компании</h3>
          <ul>
            {% for title, url in footer_about %}
              <li>
                <a href="/{{ url }}"><i class="ico-check-circle"></i>{{ title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 animate order-md-4 order-lg-3" data-animation="fadeInUp">
        <div class="widget widget_services_links">
          <h3>Доп услуги</h3>
          <ul>
            {% for title, url in footer_additional_services %}
              <li>
                <a href="/{{ url }}"><i class="ico-check-circle"></i>{{ title }}</a>
              </li>
            {% endfor %}
            <li>
              <a href="https://inomarkispb.ru" target="_blank"><i class="ico-check-circle"></i>Автомобили с пробегом</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 c-gutter-10 animate order-lg-4" data-animation="fadeInUp">
        <div class="widget widget_working_hours">
          <h3>Время работы</h3>
          <ul>
            <li class="row">
              <div class="color-grey col-3">
                Пн-Вс
              </div>
              <div class="col-md-9 col-5">
                <span class="color-darkgrey">9.<sup>00</sup> - 21.<sup>00</sup></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
