{% load service_url cropping %}
<section class="ls s-py-60">
  <h3 class="special-heading text-center">Популярные услуги для <span class="text-gradient">{{ car.full_name }}</span></h3>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- tabs start -->
        <ul class="nav nav-tabs" role="tablist">
          {% for root in root_sections %}
            <li class="nav-item">
              <a class="nav-link {% if forloop.first %}active{% endif %}" id="tab{{ forloop.counter }}" data-toggle="tab" href="#tab{{ forloop.counter }}_pane"
                 role="tab" aria-controls="tab{{ forloop.counter }}_pane" {% if forloop.first %}aria-expanded="true"{% endif %}>{{ root.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <div class="tab-content">

          {# Creating tabs #}
          {% for root, products in root_sections.items %}
            <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="tab{{ forloop.counter }}_pane" role="tabpanel" aria-labelledby="tab{{ forloop.counter }}">
              <div class="row">
                <main class="col-lg-12">

                  {# Creating products #}
                  {% for prod in products %}
                    <article class="post side-item text-center text-md-left content-padding bordered event-post">
                      <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3">
                          <div class="item-media cover-image">
                            <img loading="lazy" src="{% cropped_thumbnail prod 'thumbnail_348x236' %}" alt="">
                            <div class="media-links">
                              <a class="abs-link" title="" href="{% service_url prod %}"></a>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-8 col-lg-7 col-md-6">
                          <div class="divider-11 d-none d-xl-block"></div>
                          <div class="item-content">
                            <h6>
                              <a href="{% service_url prod %}">{{ prod.title }} {{ car.full_name }}</a>
                                  </h6>
                                  <div class="mb-10 item-meta color-darkgrey">
                              <span>
                                <i class="fa fa-calculator color-main"></i> <span><b>Цена:</b> {{ prod.verbose_price }}</span>
                              </span>
                                      {% if prod.time_duration %}<span>
                                <i class="fa fa-clock-o color-main"></i> <span><b>Длительность:</b> {{ prod.time_duration }}</span>
                              </span>{% endif %}
                                  </div>
                                  <p>{{ prod.short_description }}</p>
                              </div>
                          </div>
                      </div>
                    </article>
                  {% endfor %}

                </main>
              </div>
              <div class="container s-pt-lg-100"><a href="{% service_url root %}" class="btn btn-darkgrey">Полный список работ для {{ car.full_name }}</a></div>

            </div>
          {% endfor %}

        </div>
        <!-- tabs end-->

      </div>
    </div>
  </div>

</section>
