{% load numbers %}
<section class="ls s-pt-55 s-pb-20 s-pb-md-60 s-py-xl-145 c-gutter-60">
  <div class="container">

    <h3>Какая у вас модель {{ car.vendor }}</h3>
    <table class="table table-bordered">
      <tbody>
      <tr>
        {% for item in car.vendor.active_model_set %}
          <td><a href="{% url 'cars:car' item.url_args %}">{{ item.name }}</a></td>
          {% if forloop.counter|mod:4 == 0 %}
            </tr>
            <tr>
          {% endif %}
        {% endfor %}
        </tr>
      </tbody>
    </table>

  </div>
</section>
