{% extends 'base.html' %}
{% load deferred_static %}
{% load static %}
{% load cropping %}


{% block links %}
  {% deferred_style 'css/shop.css' 'color-switcher-link' %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
{% endblock %}


{% block header %}
  {% include 'chunks/header/title.html' %}
{% endblock %}



{% block main %}
  <section
    class="ls s-pt-60 s-pb-20 s-pb-md-0 s-pt-lg-100 s-pb-lg-40 s-pt-xl-150 s-pb-xl-90 c-mb-10 c-mb-md-30 c-gutter-60">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row justify-content-center">
            <div class="col-xl-12">
              <div class="filters gallery-filters text-lg-right justify-content-between">
                <a href="#" data-filter="*" class="active mb-2 selected">Все</a>
                {% for item in positions %}
                  <a class="mb-2" href="#" data-filter=".filter-{{ item.id }}">{{ item.name }}</a>
                {% endfor %}
              </div>
            </div>
          </div>


          <div class="row isotope-wrapper c-gutter-10 c-mb-30" data-filters=".gallery-filters">
            {% for obj in masters %}
              <div
                class="col-lg-3 col-md-6 col-12 {% for item in obj.positions.all %}filter-{{ item.id }} {% endfor %}">
                <div class="vertical-item content-padding text-center overflow-hidden">
                  <div class="item-media">
                    <img src="{% cropped_thumbnail obj 'thumbnail' %}" alt="{{ obj.name }}">
                    {#              <div class="content-hover team-btn">#}
                    {#                <a href="#" class="btn btn-small btn-maincolor">Mail me</a>#}
                    {#              </div>#}
                  </div>

                  <div class="item-content">
                    <h6 class="team-name fw-700">
                      <a {# href="team-single.html" #}>{{ obj.name }}</a>
                    </h6>
                    <p>
                      {{ obj.position_string }}
                    </p>
                    {#              <p class="social-icons with-border">#}
                    {#                <span><a href="#" class="fa fa-facebook border-icon rounded-icon" title="facebook"></a></span>#}
                    {#                <span><a href="#" class="fa fa-paper-plane border-icon rounded-icon" title="telegram"></a></span>#}
                    {#                <span><a href="#" class="fa fa-instagram border-icon rounded-icon" title="instagram"></a></span>#}
                    {#              </p>#}
                  </div>
                </div>
              </div><!-- .col-* -->
            {% endfor %}
          </div>

          <div class="divider-2"></div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block body_scripts %}
  <script></script>
{% endblock %}
