{% extends 'chunks/header/base.html' %}

{# Required template variables: breadcrumbs, page_title #}

{% block page_title %}
  <section class="page_title ds s-pt-105 s-pb-50 s-pt-lg-115 s-pb-lg-60">
    <div class="divider-3 d-none d-lg-block"></div>
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <h1 class="bold text-center text-lg-left">{{ page_title }}</h1>
          <ol class="breadcrumb">
            {% include 'chunks/header/chunks/breadcrumbs.html' %}
          </ol>
        </div>

      </div>
    </div>
  </section>
{% endblock %}
