{% extends 'chunks/header/base.html' %}
{% load cropping %}

{# Required template variables: page_title, breadcrumbs, selected_car, current_section #}

{% block page_title %}
  <section class="page_title {% if not selected_car %}page_title--w-form{% endif %} ds s-pt-105 s-pb-50 s-pt-lg-115 s-pb-lg-60">
    <div class="page_toplogo_img">
      <img src="{% cropped_thumbnail bg_object 'thumbnail_1960x600' %}" alt="{{ bg_object.title }}"/>
    </div>
    <div class="divider-0 d-none d-lg-block"></div>
    <div class="container">

      {% if selected_car %}


        <div class="row align-items-start">
          <h1 class="bold text-center text-lg-left col-12 col-lg-9">{{ page_title }}</h1>
          <div class="btn-choose-mark col-auto col-lg-3 ">
            <button class="btn btn-small btn-primary" data-toggle="modal" data-target="#modalChangeForm" title="Сменить выбор">Сменить выбор</button>
          </div>
          <div class="col-12">
            <ol class="breadcrumb col-12">
              {% include 'chunks/header/chunks/breadcrumbs.html' %}
            </ol>
          </div>
        </div>


      {% else %}


        <div class="row">
          <div class="col-md-12">
            <h1 class="bold text-center text-lg-left">{{ page_title }}</h1>
            <ol class="breadcrumb">
              {% include 'chunks/header/chunks/breadcrumbs.html' %}
            </ol>
          </div>
        </div>
        <div class="start-form-page container">
          <div class="start-form-inner">
            <div class="start-form__title">Выберите ваш автомобиль</div>
            <div id="start" class="start d-flex">

              <form method="POST" id="startform" class="start-form form-inline" data-ajax-url="{% url 'cars:ajax-filter' %}">
                {% include 'chunks/select-car-form.html' %}
              </form>

            </div>
          </div>
        </div>


      {% endif %}
    </div>
  </section>
{% endblock %}

