{% load cropping %}

<div class="vertical-item">
  <div class="item-media">
    <img loading="lazy" src="{% cropped_thumbnail product 'thumbnail_268x118' %}" width="268" height="118" alt="{{ product.title }}">
    <div class="media-links">
      <a class="abs-link" title=""></a>
    </div>
  </div>
  <div class="item-content">
    <h6>{{ product.title }}</h6>
    <p class="item-meta">
      <i class="fa fa-calculator color-main"></i>
      <b>Цена:</b> {{ product.verbose_price }}
      {% if product.time_duration %}
        <br/>
        <i class="ico-clock-alt color-main"></i>
        <b>Длительность:</b> {{ product.time_duration }}
      {% endif %}
    </p>
  </div>
</div>
