{% load cropping %}

<section class="ls s-pt-60 s-pb-0 s-pt-lg-100 s-pb-lg-40 s-pt-xl-150 s-pb-xl-90">
  <div class="container">
    <h4>Материалы по теме</h4>
    <hr>
    <div class="row c-mb-30">
      <main class="col-lg-12">
        <div class="row isotope-wrapper masonry-layout">
          {% for item in articles %}
            <div class="col-xl-3 col-md-6">
              <article class="text-center content-padding vertical-item post type-post status-publish format-standard has-post-thumbnail ls ms">

                <div class="item-media post-thumbnail">
                  <a href="{% url 'knowledge_base:article' item.url %}">
                    <img src="{% cropped_thumbnail item 'thumbnail' %}" alt="{{ item.title }}">
                  </a>
                </div>

                <div class="item-content">
                  <header class="entry-header">
                    <h4 class="entry-title"><a href="{% url 'knowledge_base:article' item.url %}" rel="bookmark">{{ item.title }}</a></h4>
                  </header>
                  <div class="more-button">
                    <a href="{% url 'knowledge_base:article' item.url %}" class="btn btn-small btn-outline-maincolor">Подробнее</a>
                  </div>
                </div>

              </article><!-- #post-## -->
            </div>
          {% endfor %}
        </div>
      </main>
    </div>
  </div>
</section>
