{% load strings %}
<div class="my-30 ls ms p-30">

    <h6>Наши автоцентры</h6>

    {% for item in navbar_branches %}
        <p class="icon-inline"><span class="icon-styled color-main"><i class="fa fa-map-marker"></i></span>
            <span>{{ item.address }}</span>
        </p>
        <p class="icon-inline"><span class="icon-styled color-main"><i class="fa fa-phone"></i></span>
            <a href="tel:{{ item.phone|extract_phone }}">{{ item.phone }}</a>
        </p>
    {% endfor %}

    <p class="icon-inline"><span class="icon-styled color-main"><i class="fa fa-pencil"></i></span>
        <a href="mailto:{{ email }}">{{ email }}</a>
    </p>
</div>