{# Used by render_works templatetag #}

{% if works %}
  <div class="item-media">
    <div class="owl-carousel" data-margin="0" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1" data-nav="true">

      {% for item in works %}
        <a href="{{ item.get_absolute_url }}">
          <img src="{{ item.image_set.first.image.url }}" alt="{{ item.title }}">
          <span class="slide-caption">{{ item.title }}</span>
        </a>
      {% endfor %}

    </div>
  </div>
{% endif %}
