{% extends 'base.html' %}
{% load static %}


{% block links %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
{% endblock %}


{% block header %}
    {% include 'chunks/header/title.html' %}
{% endblock %}



{% block main %}
    <section class="ls s-py-60 s-py-lg-100 s-py-xl-150 c-gutter-60">
        <div class="container">
            <div class="row">

                <main class="col-lg-7 col-xl-8">

                    <div class="row">
                        <div class="col-lg-12">


                            <!-- tabs start -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab01" data-toggle="tab" href="#tab01_pane" role="tab" aria-controls="tab01_pane" aria-expanded="true">Все
                                        записи</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab02" data-toggle="tab" href="#tab02_pane" role="tab" aria-controls="tab02_pane">Вопрос-ответ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab03" data-toggle="tab" href="#tab03_pane" role="tab" aria-controls="tab03_pane">Симптомы</a>
                                </li>

                            </ul>
                            <div class="tab-content">

                                <div class="tab-pane fade show active" id="tab01_pane" role="tabpanel" aria-labelledby="tab01">
                                    {% include 'knowledge_base/chunks/row.html' with obj_list=all_records %}
                                    {#                                    <ul class="pagination"><li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left"></i></a></li><li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li></ul>#}
                                </div>

                                <div class="tab-pane fade" id="tab02_pane" role="tabpanel" aria-labelledby="tab02">
                                    {% include 'knowledge_base/chunks/row.html' with obj_list=faq_entries %}
                                </div>

                                <div class="tab-pane fade" id="tab03_pane" role="tabpanel" aria-labelledby="tab03">
                                    {% include 'knowledge_base/chunks/row.html' with obj_list=symptoms %}
                                </div>

                            </div>
                            <!-- tabs end-->
                            <div class="divider-30"></div>
                        </div>

                </main>
                <!--eof .col-md-* (main content)-->


                <!-- sidebar -->
                <aside class="col-lg-5 col-xl-4">

                    {% include 'knowledge_base/chunks/search.html' %}
                    {% include 'knowledge_base/chunks/alphabetic-calendar.html' %}
                    {% include 'chunks/aside/tags.html' %}

                </aside> <!-- eof aside sidebar -->

            </div>
        </div>
    </section>
{% endblock %}

{% block body_scripts %}
    <script src="{% static 'js/custom/alphabet-filter.js' %}"></script>
    <script src="{% static 'js/custom/knowledge-base-search.js' %}"></script>
{% endblock %}