{% extends 'base.html' %}
{% load static errors strings %}


{% block links %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
{% endblock %}


{% block head_scripts %}
    <script src="{{ map_link }}" type="text/javascript"></script>
{% endblock %}


{% block header %}
    {% include 'chunks/header/title.html' %}
{% endblock %}



{% block main %}
    <section class="s-pt-60 s-pb-15 s-py-lg-90 ls ms">
        <div class="container">
            <div class="row c-mb-40 c-mb-lg-0">
                <div class="col-md-6 col-lg-3">
                    <div class="media contact-icon">
                        <div class="icon-styled color-main fs-40"><i class="ico-map"></i></div>

                        <div class="media-body">
                            <h6>Адреса СТО</h6>
                            <p>{% for item in navbar_branches %}
                                {{ item.address }}<br/>
                            {% endfor %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media contact-icon">
                        <div class="icon-styled color-main fs-40"><i class="ico-call"></i></div>

                        <div class="media-body">
                            <h6>Телефоны СТО</h6>
                            <p>{% for item in navbar_branches %}
                                <a href="tel:{{ item.phone|extract_phone }}">{{ item.phone }}</a><br/>
                            {% endfor %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media contact-icon">
                        <div class="icon-styled color-main fs-40"><i class="ico-email"></i></div>

                        <div class="media-body">
                            <h6>Email</h6>
                            <p><a href="mailto:{{ email }}">{{ email }}</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media contact-icon">
                        <div class="icon-styled color-main fs-40"><i class="ico-clock"></i></div>

                        <div class="media-body">
                            <h6>Время работы</h6>
                            <p>{{ schedule }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="ls map-left container-px-0">
        <div class="container-fluid">
            <div class="row align-items-center c-gutter-85">
                <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
                    <div class="animate page_map" id="map" data-animation="scaleAppear">
                    </div>
                    <!--.col-* -->
                </div>
                <div class="col-xl-4 col-lg-5 col-md-5 col-12">
                    <div class="contact-item animate" data-animation="scaleAppear">
                        <h3 class="special-heading">Оставить<span class="text-gradient">сообщение</span></h3>
                        <div class="divider-35"></div>
                        <form class="c-mb-30 c-gutter-20" method="POST" action="{% url 'contacts:contacts' %}">

                            {% csrf_token %}
                            {% non_field_errors form %}
                            {% for message in messages %}<p class="{{ message.extra_tags }}">{{ message }}</p>{% endfor %}

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group has-placeholder">
                                        <label for="name">Имя </label>
                                        <input type="text" aria-required="true"
                                               size="{{ form.fields.name.max_length|default_if_none:'' }}" maxlength="{{ form.fields.name.max_length|default_if_none:'' }}"
                                               value="{{ form.name.value|default_if_none:'' }}" name="{{ form.name.name }}" id="name" class="form-control" placeholder="Имя">
                                        {% field_errors form.name %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group has-placeholder">
                                        <label for="email">Email</label>
                                        <input type="email" aria-required="true"
                                               size="{{ form.fields.email.max_length|default_if_none:'' }}" maxlength="{{ form.fields.email.max_length|default_if_none:'' }}"
                                               value="{{ form.email.value|default_if_none:'' }}" name="{{ form.email.name }}" id="email" class="form-control" placeholder="Email">
                                        {% field_errors form.email %}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group has-placeholder textarea">
                                        <label for="message">Сообщение</label>
                                        <textarea aria-required="true" rows="4" cols="45" name="{{ form.text.name }}" id="message" class="form-control" placeholder="Сообщение"
                                                  maxlength="{{ form.fields.text.max_length|default_if_none:'' }}">{{ form.text.value|default_if_none:'' }}</textarea>
                                        {% field_errors form.message %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mt-20">
                                    <div class="form-group">
                                        <button type="submit" id="contact_form_submit" name="contact_submit" class="btn btn-small btn-outline-maincolor"><span>Отправить</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <!--.col-* -->
            </div>
        </div>
    </section>
{% endblock %}