{% extends 'accounts/personal_area/base.html' %}
{% load field_tags errors %}

{% block main %}
  <section class="ls s-pt-50 s-pb-60 s-pt-lg-90 s-pb-lg-100 s-pt-xl-140 s-pb-xl-150">
    <div class="divider-3"></div>
    <div class="container">
      <div class="row">
        <main class="col-lg-12">
          <article>
            <header class="entry-header mb-30">
              <h1 class="entry-title">Личные данные</h1>
              <!-- <span class="edit-link">
										<a class="post-edit-link" href="#">Edit
											<span class="screen-reader-text"> "My account"
											</span>
										</a>
									</span> -->
            </header>
            <!-- .entry-header -->
            <div class="entry-content">
              <div class="woocommerce">

                {% include 'accounts/personal_area/chunks/sidebar.html' %}

                <div class="woocommerce-MyAccount-content">

                  <form class="woocommerce-EditAccountForm edit-account" method="POST">

                    {% csrf_token %}
                    {% hidden_fields profile_form %}
                    {% non_field_errors profile_form %}

                    {% for message in messages %}{% if 'edit-profile' in message.extra_tags %}<p class="{{ message.extra_tags }}">{{ message| safe }}</p>{% endif %}{% endfor %}

                    {% for field in profile_form.visible_fields %}
                      <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                        <label for="account_first_name">{{ field.label }} {% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                        {{ field }}
                      </p>
                    {% endfor %}
                    <p>
                      <button type="submit" class="woocommerce-Button btn btn-maincolor" name="save_account_details"><span>Сохранить изменения</span></button>
                    </p>

                  </form>
                  <form class="woocommerce-EditAccountForm edit-account mt-5" method="POST">

                    <fieldset>
                      <legend>Сменить пароль</legend>
                      {% for message in messages %}{% if 'change-password' in message.extra_tags %}<p class="{{ message.extra_tags }}">{{ message| safe }}</p>
                      {% endif %}{% endfor %}

                      {% csrf_token %}
                      {% hidden_fields password_form %}
                      {% non_field_errors password_form %}

                      {% for field in password_form.visible_fields %}
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                          <label for="password_current">{{ field.label }}</label>
                          {{ field }}
                          {% field_errors field %}
                        </p>
                      {% endfor %}
                    </fieldset>
                    <div class="clear"></div>
                    <div class="divider-20"></div>
                    <p>
                      <button type="submit" class="woocommerce-Button btn btn-maincolor" name="save_account_details"><span>Сменить пароль</span></button>
                    </p>
                  </form>

                </div>
              </div>
            </div>
            <!-- .entry-content -->
          </article>

        </main>
      </div>
    </div>
  </section>
{% endblock %}
