<div class="widget widget_calendar">
    <a id="clear-filter" class="bold mb-2 d-block" href="#">Сбросить фильтр</a>
    <div id="calendar_wrap" class="calendar_wrap">
        <table id="wp-calendar">
            <caption>Все записи</caption>

            <tbody>
            <tr>
                <td>А</td>
                <td>Б</td>
                <td>В</td>
                <td>Г</td>
                <td>Д</td>
                <td>Е</td>
                <td>Ё</td>
            </tr>
            <tr>
                <td>Ж</td>
                <td>З</td>
                <td>И</td>
                <td>Й</td>
                <td>К</td>
                <td>Л</td>
                <td>М</td>
            </tr>
            <tr>
                <td>Н</td>
                <td>О</td>
                <td>П</td>
                <td>Р</td>
                <td>С</td>
                <td>Т</td>
                <td>У</td>
            </tr>
            <tr>
                <td>Ф</td>
                <td>Х</td>
                <td>Ц</td>
                <td>Ч</td>
                <td>Ш</td>
                <td>Щ</td>
                <td>Ъ</td>
            </tr>
            <tr>
                <td>Ы</td>
                <td>Ь</td>
                <td>Э</td>
                <td>Ю</td>
                <td>Я</td>
                <td class="pad" colspan="2">&nbsp;</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3" id="prev">
                    <a href="#">«</a>
                </td>
                <td class="pad">&nbsp;</td>
                <td colspan="3" id="next">
                    <a href="#">»</a>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>