{% load string_time_delta %}

{% if related %}

    <div class="widget widget_recent_posts">
        <h5 class="widget-title">Материалы по теме </h5>
        <ul class="list-unstyled">
            {% for item in related %}
                <li class="media align-items-center">
                    <div class="media-body">
                        <h4>
                            <a href="{% url reverse_viewname item.url %}">{{ item.title }}</a>
                        </h4>
                        <p class="item-meta">
                            <i class="ico-clock-alt color-main"></i>
                            {{ item.date| time_delta }}
                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endif %}