{% load iterables %}

<div class="row">
    <div class="col-xl-6">
        <ul class="list1">
            {% for item in obj_list|first_half %}
                <li><a href="{{ item.reverse_url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-xl-6">
        <ul class="list1">
            {% for item in obj_list|second_half %}
                <li><a href="{{ item.reverse_url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>