<div class="bg-maincolor2 py-50 px-30 cs cs2">
    <div class="widget widget_search">

        <form id="record-search" role="search" method="get" class="search-form" action="/">
            <label for="search-form-widget">
                <span class="screen-reader-text">Поиск по всем статьям:</span>
            </label>
            <input type="search" id="search-form-widget" class="search-field" placeholder="Поиск по всем записям" value="" name="search">
            <button type="submit" class="search-submit">
                <span class="screen-reader-text">Поиск по всем статьям</span>
            </button>
        </form>
    </div>

</div>